<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/AproriVsFpGrowthRunTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fp Growth

In [25]:
pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in /usr/local/lib/python3.6/dist-packages (1.0)

In [26]:
import pyfpgrowth

In [27]:
import pandas as pd
df = pd.read_csv('/content/breast_train_transactions.txt', header = None, sep="," , names=['a','b','c', 'd', 'e', 'f','g', 'h', 'i', 'k'])

In [28]:
df.head(5)

          a         b           c  ...         h             i      k
0  class@no  a1@30-39  a2@premeno  ...   a7@left   a8@left_low  a9@no
1  class@no  a1@40-49  a2@premeno  ...  a7@right   a8@right_up  a9@no
2  class@no  a1@40-49  a2@premeno  ...   a7@left   a8@left_low  a9@no
3  class@no  a1@60-69     a2@ge40  ...  a7@right    a8@left_up  a9@no
4  class@no  a1@40-49  a2@premeno  ...  a7@right  a8@right_low  a9@no

[5 rows x 10 columns]

In [29]:
trans = df.values.tolist()

In [30]:
patterns = pyfpgrowth.find_frequent_patterns(trans, .01)

In [31]:
min_sup = [.001, .01, .05, .1, .2, .5, .6]

In [32]:
import time
run_time_fp = []
for i in min_sup:
    print(i)
    start_time = time.time()
    patterns = pyfpgrowth.find_frequent_patterns(trans, i)
    print("For %i--- %s seconds ---" %(i, time.time() - start_time))
    run_time_fp.append(time.time() - start_time)
  
run_time_fp

0.001
For 0--- 0.987562894821167 seconds ---
0.01
For 0--- 1.151252031326294 seconds ---
0.05
For 0--- 0.9737586975097656 seconds ---
0.1
For 0--- 0.9601237773895264 seconds ---
0.2
For 0--- 0.9544570446014404 seconds ---
0.5
For 0--- 1.144686222076416 seconds ---
0.6
For 0--- 0.9632961750030518 seconds ---

[0.9879999160766602,
 1.1514034271240234,
 0.9739198684692383,
 0.9602854251861572,
 0.9548907279968262,
 1.1451492309570312,
 0.963451623916626]

Apriori

In [33]:
pip install apriori_python

Requirement already satisfied: apriori_python in /usr/local/lib/python3.6/dist-packages (1.0.4)

In [34]:
from apriori_python import apriori

In [ ]:
import time
run_time_apr = []
for i in min_sup:
    print(i)
    start_time = time.time()
    freqItemSet, rules = apriori(trans, minSup=i, minConf=0.5)
    print("For %i--- %s seconds ---" %(i, time.time() - start_time))
    run_time_apr.append(time.time() - start_time)
  
run_time_apr

0.001

In [ ]:
#plot it
import seaborn as sns
sns.lineplot(x= min_sup, y=run_time_fp)

In [ ]:
df = pd.DataFrame({'a':np.random.rand(8),'b':np.random.rand(8)})

In [ ]:
g = sns.lineplot(data=df)
g.set_xticks(range(len(df))) # <--- set the ticks first
g.set_xticklabels(['2011','2012','2013','2014','2015','2016','2017','2018'])