<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/BreastCancer_apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Attribute information: 
1. Class: no-recurrence-events, recurrence-events
2. age: 10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-79, 80-89, 90-99.
3. menopause: lt40, ge40, premeno.
4. tumor-size: 0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59.
5. inv-nodes: 0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-23, 24-26, 27-29, 30-32, 33-35, 36-39.
6. node-caps: yes, no.
7. deg-malig: 1, 2, 3.
8. breast: left, right.
9. breast-quad: left-up, left-low, right-up, right-low, central.
10. irradiat: yes, no.

In [8]:
import pandas as pd

df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data', 
    sep=',', 
    header=None,
    names = ['class'
    ,'AGE'
    ,'menopause'
    ,'tumor-size'
    ,'inv-nodes'
    ,'node-caps'
    ,'deg-malig'
    ,'breast'
    ,'breast-quad'
    ,'irradiat']
  
)

print(df)

                    class    AGE menopause  ... breast breast-quad irradiat
0    no-recurrence-events  30-39   premeno  ...   left    left_low       no
1    no-recurrence-events  40-49   premeno  ...  right    right_up       no
2    no-recurrence-events  40-49   premeno  ...   left    left_low       no
3    no-recurrence-events  60-69      ge40  ...  right     left_up       no
4    no-recurrence-events  40-49   premeno  ...  right   right_low       no
..                    ...    ...       ...  ...    ...         ...      ...
281     recurrence-events  30-39   premeno  ...   left     left_up       no
282     recurrence-events  30-39   premeno  ...   left     left_up      yes
283     recurrence-events  60-69      ge40  ...  right     left_up       no
284     recurrence-events  40-49      ge40  ...   left    left_low       no
285     recurrence-events  50-59      ge40  ...   left    left_low       no

[286 rows x 10 columns]

In [ ]:
df.to_csv("/content/drive/MyDrive/DataSets_for_Paper/bcancer_data_original.csv")

Run Apriori

In [1]:
clus = "Apriori"
d = '/content/' #specify the folder all the input and output files are

In [2]:
pip install spmf

Collecting spmf
  Downloading https://files.pythonhosted.org/packages/8c/ff/15ed66193c66c7ea933f8b29c6f46e5dfee90584a0fbb68bd5cb8a151c74/spmf-1.3-py3-none-any.whl
Installing collected packages: spmf
Successfully installed spmf-1.3

In [3]:
from spmf import Spmf
import pathlib

In [5]:
spmf = Spmf("Apriori", input_filename="bcancer_data_to_numbers.csv",
            output_filename="output_apriori_bcancer.txt", arguments=[.01],spmf_bin_location_dir=d )

In [6]:
spmf.run()

>/content/spmf.jar
=============  APRIORI - STATS =============
 Candidates count : 28483
 The algorithm stopped at size 10
 Frequent itemsets count : 23922
 Maximum memory usage : 12.547782897949219 mb
 Total time ~ 1470 ms
===================================================

Converting to original

In [10]:
#removing sup
f = open('/content/output_apriori_bcancer.txt','r')
lst = []
for line in f:
  line  = line.split("#", 1)
  
  line  = line[0]
  lst.append(line)
f.close()
f = open('/content/output_apriori_bcancer_processed.txt','w')
for line in lst:
    f.write(line+'\n')
f.close()

In [52]:
originalfile = "/content/drive/MyDrive/DataSets_for_Paper/bcancer_data_original.csv"

In [56]:
df = pd.read_csv(originalfile)

In [57]:
#removing index column
cols = [0]
df.drop(df.columns[cols],axis=1,inplace=True)

In [58]:
for i,n in enumerate(df.columns):
  if n=='class':
    df[n] = 'class@' + df[n].astype(str)
  else:
    df[n] = 'A'+str(i)+'@' + df[n].astype(str)

In [59]:
uni = pd.DataFrame()
for col in df:
    uni= pd.concat([uni, pd.DataFrame(df[col].unique())], ignore_index=True)

In [60]:
uni

                             0
0   class@no-recurrence-events
1      class@recurrence-events
2                     A1@30-39
3                     A1@40-49
4                     A1@60-69
5                     A1@50-59
6                     A1@70-79
7                     A1@20-29
8                   A2@premeno
9                      A2@ge40
10                     A2@lt40
11                    A3@30-34
12                    A3@20-24
13                    A3@15-19
14                      A3@0-4
15                    A3@25-29
16                    A3@50-54
17                    A3@10-14
18                    A3@40-44
19                    A3@35-39
20                      A3@5-9
21                    A3@45-49
22                      A4@0-2
23                      A4@6-8
24                     A4@9-11
25                      A4@3-5
26                    A4@15-17
27                    A4@12-14
28                    A4@24-26
29                       A5@no
30                      A5@yes
31                        A5@?
32                        A6@3
33                        A6@2
34                        A6@1
35                     A7@left
36                    A7@right
37                 A8@left_low
38                 A8@right_up
39                  A8@left_up
40                A8@right_low
41                  A8@central
42                        A8@?
43                       A9@no
44                      A9@yes

In [61]:
my_dict = uni.to_dict()

In [62]:
my_dict = my_dict[0]

In [63]:
my_dict

{0: 'class@no-recurrence-events',
 1: 'class@recurrence-events',
 2: 'A1@30-39',
 3: 'A1@40-49',
 4: 'A1@60-69',
 5: 'A1@50-59',
 6: 'A1@70-79',
 7: 'A1@20-29',
 8: 'A2@premeno',
 9: 'A2@ge40',
 10: 'A2@lt40',
 11: 'A3@30-34',
 12: 'A3@20-24',
 13: 'A3@15-19',
 14: 'A3@0-4',
 15: 'A3@25-29',
 16: 'A3@50-54',
 17: 'A3@10-14',
 18: 'A3@40-44',
 19: 'A3@35-39',
 20: 'A3@5-9',
 21: 'A3@45-49',
 22: 'A4@0-2',
 23: 'A4@6-8',
 24: 'A4@9-11',
 25: 'A4@3-5',
 26: 'A4@15-17',
 27: 'A4@12-14',
 28: 'A4@24-26',
 29: 'A5@no',
 30: 'A5@yes',
 31: 'A5@?',
 32: 'A6@3',
 33: 'A6@2',
 34: 'A6@1',
 35: 'A7@left',
 36: 'A7@right',
 37: 'A8@left_low',
 38: 'A8@right_up',
 39: 'A8@left_up',
 40: 'A8@right_low',
 41: 'A8@central',
 42: 'A8@?',
 43: 'A9@no',
 44: 'A9@yes'}

In [64]:
rp_growth_process = pd.read_csv("/content/output_apriori_bcancer_processed.txt", header=None, names=["itemsets"],index_col=False)

In [65]:
temp_df = pd.concat([rp_growth_process[['itemsets']], rp_growth_process['itemsets'].str.split(' ', expand=True)], axis=1
                  )

In [66]:
temp_df = temp_df.loc[temp_df.iloc[:,1].isin(['1','0'])]

In [67]:
temp_df=temp_df.drop('itemsets', axis=1)

In [68]:
temp_df

      0  1     2     3     4     5     6     7     8     9     10
0      0     None  None  None  None  None  None  None  None  None
1      1     None  None  None  None  None  None  None  None  None
42     0  2              None  None  None  None  None  None  None
43     0  3              None  None  None  None  None  None  None
44     0  4              None  None  None  None  None  None  None
...   .. ..   ...   ...   ...   ...   ...   ...   ...   ...   ...
23916  0  8    13    22    29    34    35    37    43
23917  0  8    15    22    29    33    35    37    43
23918  0  9    12    22    29    32    35    39    43
23919  0  9    15    22    29    33    35    37    43
23920  0  9    17    22    29    34    35    39    43

[11677 rows x 11 columns]

In [69]:
temp_df.columns = ['a', 'b', 'c', 'd', 'e', 'f','g', 'h', 'i', 'j', 'k']

In [70]:
#concat @ to tempdf
for i,n in enumerate(temp_df.columns):
  
    temp_df[n] = '@' + temp_df[n].astype(str)

In [71]:
temp_df['a'].value_counts()

@0    8514
@1    3163
Name: a, dtype: int64

In [87]:
maj =  8514
min  = 3163
total = maj+min
min_per = min/total
maj_per = maj/total
print(maj_per, min_per)

0.7291256315834547 0.27087436841654533

In [72]:
di = {f'@{k}': v for k, v in my_dict.items()}

In [73]:
di

{'@0': 'class@no-recurrence-events',
 '@1': 'class@recurrence-events',
 '@10': 'A2@lt40',
 '@11': 'A3@30-34',
 '@12': 'A3@20-24',
 '@13': 'A3@15-19',
 '@14': 'A3@0-4',
 '@15': 'A3@25-29',
 '@16': 'A3@50-54',
 '@17': 'A3@10-14',
 '@18': 'A3@40-44',
 '@19': 'A3@35-39',
 '@2': 'A1@30-39',
 '@20': 'A3@5-9',
 '@21': 'A3@45-49',
 '@22': 'A4@0-2',
 '@23': 'A4@6-8',
 '@24': 'A4@9-11',
 '@25': 'A4@3-5',
 '@26': 'A4@15-17',
 '@27': 'A4@12-14',
 '@28': 'A4@24-26',
 '@29': 'A5@no',
 '@3': 'A1@40-49',
 '@30': 'A5@yes',
 '@31': 'A5@?',
 '@32': 'A6@3',
 '@33': 'A6@2',
 '@34': 'A6@1',
 '@35': 'A7@left',
 '@36': 'A7@right',
 '@37': 'A8@left_low',
 '@38': 'A8@right_up',
 '@39': 'A8@left_up',
 '@4': 'A1@60-69',
 '@40': 'A8@right_low',
 '@41': 'A8@central',
 '@42': 'A8@?',
 '@43': 'A9@no',
 '@44': 'A9@yes',
 '@5': 'A1@50-59',
 '@6': 'A1@70-79',
 '@7': 'A1@20-29',
 '@8': 'A2@premeno',
 '@9': 'A2@ge40'}

In [74]:
temp_df

        a   b      c      d      e      f      g      h      i      j      k
0      @0   @  @None  @None  @None  @None  @None  @None  @None  @None  @None
1      @1   @  @None  @None  @None  @None  @None  @None  @None  @None  @None
42     @0  @2      @      @  @None  @None  @None  @None  @None  @None  @None
43     @0  @3      @      @  @None  @None  @None  @None  @None  @None  @None
44     @0  @4      @      @  @None  @None  @None  @None  @None  @None  @None
...    ..  ..    ...    ...    ...    ...    ...    ...    ...    ...    ...
23916  @0  @8    @13    @22    @29    @34    @35    @37    @43      @      @
23917  @0  @8    @15    @22    @29    @33    @35    @37    @43      @      @
23918  @0  @9    @12    @22    @29    @32    @35    @39    @43      @      @
23919  @0  @9    @15    @22    @29    @33    @35    @37    @43      @      @
23920  @0  @9    @17    @22    @29    @34    @35    @39    @43      @      @

[11677 rows x 11 columns]

In [75]:
for col in temp_df:
    temp_df[col] = temp_df[col].replace(di)

In [76]:
temp_df['rules'] = temp_df['b']+','+temp_df['c']+','+temp_df['d']+','+temp_df['e']+','+temp_df['f']+','+temp_df['g']
#+">class@"+temp_df['a']

In [77]:
temp_df['pos'] = temp_df['rules'].str.find('@None')
temp_df['rules'] = temp_df.apply(lambda x: x['rules'][0:x['pos']],axis=1)
temp_df['rules'] = temp_df['rules']+">"+temp_df['a']
temp_df['rules'] = temp_df['rules'].str.replace(',@,','')

In [79]:
temp_df['rules']

0                            @,>class@no-recurrence-events
1                               @,>class@recurrence-events
42                   A1@30-39@,>class@no-recurrence-events
43                   A1@40-49@,>class@no-recurrence-events
44                   A1@60-69@,>class@no-recurrence-events
                               ...
23916    A2@premeno,A3@15-19,A4@0-2,A5@no,A6@1,A7@lef>c...
23917    A2@premeno,A3@25-29,A4@0-2,A5@no,A6@2,A7@lef>c...
23918    A2@ge40,A3@20-24,A4@0-2,A5@no,A6@3,A7@lef>clas...
23919    A2@ge40,A3@25-29,A4@0-2,A5@no,A6@2,A7@lef>clas...
23920    A2@ge40,A3@10-14,A4@0-2,A5@no,A6@1,A7@lef>clas...
Name: rules, Length: 11677, dtype: object

In [80]:
temp_df['rules'].to_csv("/content/bcancer_apriori_rules.csv", header=None, index=False)

Mapping to back to original

In [ ]:
mapping = {
    
 'A0':'class'
    ,'A1':'AGE'
    ,'A2':'menopause'
    ,'A3':'tumor-size'
    ,'A4':'inv-nodes'
    ,'A5':'node-caps'
    ,'A6':'deg-malig'
    ,'A7':'breast'
    ,'A8':'breast-quad'
    ,'A9':'irradiat'
   
           
           }

In [ ]:
import fileinput

text = "/content/bcancer_rpgrwoth_rules.csv"
fields = mapping

lst = []
for line in fileinput.input(text):
    for field in fields:
        if field in line:
            line = line.replace(field, fields[field])
    lst.append(line)

print(lst)

['tumor-size@lt40>class@no\n', '"tumor-size@lt40,node-caps@12-14>class@no"\n', '"tumor-size@lt40,irradiat@central>class@no"\n', 'inv-nodes@15-19>class@no\n', '"inv-nodes@15-19,inv-nodes@5-9>class@no"\n', 'node-caps@24-26>class@yes\n', 'menopause@30-39>class@no\n', '"menopause@30-39,irradiat@central>class@no"\n', '"menopause@30-39,node-caps@12-14,irradiat@central>class@no"\n', '"menopause@30-39,inv-nodes@5-9>class@no"\n', '"menopause@30-39,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"menopause@30-39,inv-nodes@5-9,irradiat@central>class@no"\n', '"menopause@30-39,inv-nodes@5-9,node-caps@12-14,irradiat@central>class@no"\n', '"menopause@30-39,node-caps@12-14>class@no"\n', '"menopause@30-39,menopause@20-29>class@no"\n', '"menopause@30-39,menopause@20-29,irradiat@central>class@no"\n', '"menopause@30-39,menopause@20-29,inv-nodes@5-9>class@no"\n', '"menopause@30-39,menopause@20-29,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"menopause@30-39,menopause@20-29,node-caps@12-14>class@no"\n', 'tumor-size@ge40>class@no\n', '"tumor-size@ge40,irradiat@central>class@no"\n', 'irradiat@?>class@yes\n', 'irradiat@?>class@no\n', '"menopause@20-29,breast@3>class@no"\n', '"menopause@20-29,node-caps@12-14,breast@3>class@no"\n', '"menopause@20-29,breast@3,irradiat@central>class@no"\n', '"menopause@20-29,node-caps@12-14,breast@3,irradiat@central>class@no"\n', '"menopause@20-29,inv-nodes@5-9,breast@3>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,breast@3>class@no"\n', '"menopause@20-29,inv-nodes@5-9,breast@3,irradiat@central>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,breast@3,irradiat@central,>class@no"\n', '"breast@3,breast@2>class@no"\n', '"breast@3,breast@2,irradiat@central>class@no"\n', '"node-caps@12-14,breast@3,breast@2,irradiat@central>class@no"\n', '"node-caps@12-14,breast@3,breast@2>class@no"\n', '"inv-nodes@5-9,breast@3,breast@2>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@3,breast@2>class@no"\n', '"inv-nodes@5-9,breast@3,breast@2,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@3,breast@2,irradiat@central,>class@no"\n', 'breast@3>class@no\n', '"breast@3,irradiat@central>class@no"\n', '"node-caps@12-14,breast@3,irradiat@central>class@no"\n', '"inv-nodes@5-9,breast@3>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@3>class@no"\n', '"inv-nodes@5-9,breast@3,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@3,irradiat@central>class@no"\n', '"node-caps@12-14,breast@3>class@no"\n', 'deg-malig@yes>class@no\n', '"deg-malig@yes,irradiat@central>class@no"\n', '"inv-nodes@5-9,deg-malig@yes>class@no"\n', '"node-caps@12-14,deg-malig@yes>class@no"\n', 'deg-malig@yes>class@yes\n', '"@,>class@yes"\n', 'breast-quad@left>class@yes\n', 'menopause@20-29>class@yes\n', 'breast@1>class@yes\n', 'inv-nodes@5-9>class@yes\n', '"inv-nodes@5-9,irradiat@central>class@yes"\n', '"inv-nodes@5-9,node-caps@12-14,irradiat@central>class@yes"\n', '"inv-nodes@5-9,node-caps@12-14>class@yes"\n', 'menopause@70-79>class@yes\n', '"menopause@70-79,inv-nodes@5-9>class@yes"\n', '"menopause@70-79,node-caps@12-14>class@yes"\n', '"menopause@70-79,irradiat@central>class@yes"\n', 'breast@2>class@yes\n', 'node-caps@12-14>class@yes\n', 'irradiat@central>class@yes\n', '"node-caps@12-14,irradiat@central>class@yes"\n', '"class@recurrence-events,deg-malig@?>class@no"\n', '"class@recurrence-events,inv-nodes@5-9,deg-malig@?>class@no"\n', '"class@recurrence-events,node-caps@12-14,deg-malig@?>class@no"\n', '"class@recurrence-events,menopause@70-79,deg-malig@?>class@no"\n', '"class@recurrence-events,menopause@70-79,node-caps@12-14,deg-malig@?>class@no"\n', '"class@recurrence-events,breast@1>class@no"\n', '"class@recurrence-events,node-caps@12-14,breast@1>class@no"\n', '"class@recurrence-events,menopause@70-79,breast@1>class@no"\n', '"class@recurrence-events,menopause@70-79,node-caps@12-14,breast@1>class@no"\n', 'class@recurrence-events>class@no\n', '"class@recurrence-events,irradiat@central>class@no"\n', '"class@recurrence-events,node-caps@12-14,irradiat@central>class@no"\n', '"class@recurrence-events,inv-nodes@5-9>class@no"\n', '"class@recurrence-events,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"class@recurrence-events,inv-nodes@5-9,irradiat@central>class@no"\n', '"class@recurrence-events,inv-nodes@5-9,node-caps@12-14,irradiat@central>class@no"\n', '"class@recurrence-events,node-caps@12-14>class@no"\n', '"class@recurrence-events,menopause@70-79>class@no"\n', '"class@recurrence-events,menopause@70-79,irradiat@central>class@no"\n', '"class@recurrence-events,menopause@70-79,node-caps@12-14,irradiat@central>class@no"\n', '"class@recurrence-events,menopause@70-79,inv-nodes@5-9>class@no"\n', '"class@recurrence-events,menopause@70-79,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"class@recurrence-events,menopause@70-79,inv-nodes@5-9,irradiat@central>class@no"\n', '"class@recurrence-events,menopause@70-79,inv-nodes@5-9,node-caps@12-14,irradiat@central,>class@no"\n', '"class@recurrence-events,menopause@70-79,node-caps@12-14>class@no"\n', '"menopause@40-49,breast-quad@left>class@no"\n', '"menopause@40-49,deg-malig@?>class@no"\n', '"menopause@40-49,breast@1>class@no"\n', '"menopause@40-49,breast@1,irradiat@central>class@no"\n', '"menopause@40-49,breast@2>class@no"\n', '"menopause@40-49,node-caps@12-14,breast@2>class@no"\n', '"menopause@40-49,inv-nodes@5-9,breast@2>class@no"\n', '"menopause@40-49,inv-nodes@5-9,node-caps@12-14,breast@2>class@no"\n', '"menopause@40-49,inv-nodes@5-9,breast@2,irradiat@central>class@no"\n', '"menopause@40-49,inv-nodes@5-9,node-caps@12-14,breast@2,irradiat@central,>class@no"\n', '"menopause@40-49,breast@2,irradiat@central>class@no"\n', '"menopause@40-49,node-caps@12-14,breast@2,irradiat@central>class@no"\n', '"menopause@40-49,menopause@20-29>class@no"\n', '"menopause@40-49,menopause@20-29,node-caps@12-14>class@no"\n', '"menopause@40-49,menopause@20-29,inv-nodes@5-9>class@no"\n', '"menopause@40-49,menopause@20-29,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"menopause@40-49,menopause@20-29,inv-nodes@5-9,irradiat@central>class@no"\n', '"menopause@40-49,menopause@20-29,inv-nodes@5-9,node-caps@12-14,irradiat@central,>class@no"\n', '"menopause@40-49,menopause@20-29,irradiat@central>class@no"\n', '"menopause@40-49,menopause@20-29,node-caps@12-14,irradiat@central>class@no"\n', 'menopause@40-49>class@no\n', '"menopause@40-49,node-caps@12-14>class@no"\n', '"menopause@40-49,inv-nodes@5-9>class@no"\n', '"menopause@40-49,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"menopause@40-49,inv-nodes@5-9,irradiat@central>class@no"\n', '"menopause@40-49,inv-nodes@5-9,node-caps@12-14,irradiat@central>class@no"\n', '"menopause@40-49,irradiat@central>class@no"\n', '"menopause@40-49,node-caps@12-14,irradiat@central>class@no"\n', '"deg-malig@?,irradiat@left_low>class@no"\n', '"menopause@20-29,irradiat@left_low>class@no"\n', '"menopause@20-29,irradiat@left_low,irradiat@central>class@no"\n', '"menopause@20-29,node-caps@12-14,irradiat@left_low>class@no"\n', '"menopause@20-29,inv-nodes@5-9,irradiat@left_low>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,irradiat@left_low>class@no"\n', '"menopause@70-79,irradiat@left_low>class@no"\n', '"breast@1,irradiat@left_low>class@no"\n', '"breast@1,irradiat@left_low,irradiat@central>class@no"\n', '"inv-nodes@5-9,breast@1,irradiat@left_low>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@1,irradiat@left_low>class@no"\n', '"node-caps@12-14,breast@1,irradiat@left_low>class@no"\n', 'irradiat@left_low>class@no\n', '"irradiat@left_low,irradiat@central>class@no"\n', '"node-caps@12-14,irradiat@left_low,irradiat@central>class@no"\n', '"inv-nodes@5-9,irradiat@left_low>class@no"\n', '"inv-nodes@5-9,irradiat@left_low,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,irradiat@left_low,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,irradiat@left_low>class@no"\n', '"node-caps@12-14,irradiat@left_low>class@no"\n', '"menopause@20-29,breast-quad@left>class@no"\n', '"menopause@20-29,inv-nodes@5-9,breast-quad@left>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,breast-quad@left>class@no"\n', '"menopause@20-29,node-caps@12-14,breast-quad@left>class@no"\n', '"menopause@20-29,breast-quad@left,irradiat@central>class@no"\n', '"menopause@20-29,node-caps@12-14,breast-quad@left,irradiat@central>class@no"\n', '"deg-malig@?,breast-quad@left>class@no"\n', '"inv-nodes@5-9,deg-malig@?,breast-quad@left>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,deg-malig@?,breast-quad@left>class@no"\n', '"deg-malig@?,breast-quad@left,irradiat@central>class@no"\n', '"node-caps@12-14,deg-malig@?,breast-quad@left>class@no"\n', '"menopause@70-79,breast-quad@left>class@no"\n', '"menopause@70-79,inv-nodes@5-9,breast-quad@left>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,breast-quad@left>class@no"\n', '"menopause@70-79,node-caps@12-14,breast-quad@left>class@no"\n', 'breast-quad@left>class@no\n', '"breast-quad@left,irradiat@central>class@no"\n', '"node-caps@12-14,breast-quad@left,irradiat@central>class@no"\n', '"inv-nodes@5-9,breast-quad@left>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast-quad@left>class@no"\n', '"inv-nodes@5-9,breast-quad@left,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast-quad@left,irradiat@central>class@no"\n', '"node-caps@12-14,breast-quad@left>class@no"\n', '"breast@2,breast-quad@left>class@no"\n', '"breast@2,breast-quad@left,irradiat@central>class@no"\n', '"node-caps@12-14,breast@2,breast-quad@left,irradiat@central>class@no"\n', '"inv-nodes@5-9,breast@2,breast-quad@left>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@2,breast-quad@left>class@no"\n', '"inv-nodes@5-9,breast@2,breast-quad@left,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@2,breast-quad@left,irradiat@central,>class@no"\n', '"node-caps@12-14,breast@2,breast-quad@left>class@no"\n', '"menopause@20-29,deg-malig@?>class@no"\n', '"menopause@20-29,deg-malig@?,irradiat@central>class@no"\n', '"menopause@20-29,node-caps@12-14,deg-malig@?>class@no"\n', '"menopause@20-29,inv-nodes@5-9,deg-malig@?>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,deg-malig@?>class@no"\n', '"menopause@20-29,breast@1>class@no"\n', '"menopause@20-29,node-caps@12-14,breast@1>class@no"\n', '"menopause@20-29,inv-nodes@5-9,breast@1>class@no"\n', '"menopause@20-29,inv-nodes@5-9,breast@1,irradiat@central>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,breast@1,irradiat@central,>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,breast@1>class@no"\n', '"menopause@20-29,breast@1,irradiat@central>class@no"\n', '"menopause@20-29,node-caps@12-14,breast@1,irradiat@central>class@no"\n', '"menopause@20-29,breast@2>class@no"\n', '"menopause@20-29,node-caps@12-14,breast@2>class@no"\n', '"menopause@20-29,inv-nodes@5-9,breast@2>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,breast@2>class@no"\n', '"menopause@20-29,inv-nodes@5-9,breast@2,irradiat@central>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,breast@2,irradiat@central,>class@no"\n', '"menopause@20-29,breast@2,irradiat@central>class@no"\n', '"menopause@20-29,node-caps@12-14,breast@2,irradiat@central>class@no"\n', 'menopause@20-29>class@no\n', '"menopause@20-29,node-caps@12-14>class@no"\n', '"menopause@20-29,inv-nodes@5-9>class@no"\n', '"menopause@20-29,inv-nodes@5-9,irradiat@central>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14,irradiat@central>class@no"\n', '"menopause@20-29,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"menopause@20-29,irradiat@central>class@no"\n', '"menopause@20-29,node-caps@12-14,irradiat@central>class@no"\n', '"menopause@70-79,deg-malig@?,breast@1>class@no"\n', '"deg-malig@?,breast@1>class@no"\n', '"inv-nodes@5-9,deg-malig@?,breast@1>class@no"\n', '"inv-nodes@5-9,deg-malig@?,breast@1,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,deg-malig@?,breast@1,irradiat@central,>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,deg-malig@?,breast@1>class@no"\n', '"deg-malig@?,breast@1,irradiat@central>class@no"\n', '"node-caps@12-14,deg-malig@?,breast@1,irradiat@central>class@no"\n', '"node-caps@12-14,deg-malig@?,breast@1>class@no"\n', '"deg-malig@?,breast@2>class@no"\n', '"deg-malig@?,breast@2,irradiat@central>class@no"\n', '"node-caps@12-14,deg-malig@?,breast@2,irradiat@central>class@no"\n', '"node-caps@12-14,deg-malig@?,breast@2>class@no"\n', '"inv-nodes@5-9,deg-malig@?,breast@2>class@no"\n', '"inv-nodes@5-9,deg-malig@?,breast@2,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,deg-malig@?,breast@2,irradiat@central,>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,deg-malig@?,breast@2>class@no"\n', '"menopause@70-79,deg-malig@?>class@no"\n', '"menopause@70-79,deg-malig@?,irradiat@central>class@no"\n', '"menopause@70-79,node-caps@12-14,deg-malig@?,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9,deg-malig@?>class@no"\n', '"menopause@70-79,inv-nodes@5-9,deg-malig@?,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,deg-malig@?,irradiat@central,>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,deg-malig@?>class@no"\n', '"menopause@70-79,node-caps@12-14,deg-malig@?>class@no"\n', 'deg-malig@?>class@no\n', '"deg-malig@?,irradiat@central>class@no"\n', '"node-caps@12-14,deg-malig@?,irradiat@central>class@no"\n', '"inv-nodes@5-9,deg-malig@?>class@no"\n', '"inv-nodes@5-9,deg-malig@?,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,deg-malig@?,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,deg-malig@?>class@no"\n', '"node-caps@12-14,deg-malig@?>class@no"\n', '"menopause@70-79,breast@1>class@no"\n', '"menopause@70-79,breast@1,irradiat@central>class@no"\n', '"menopause@70-79,node-caps@12-14,breast@1,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9,breast@1>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,breast@1>class@no"\n', '"menopause@70-79,inv-nodes@5-9,breast@1,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,breast@1,irradiat@central,>class@no"\n', '"menopause@70-79,node-caps@12-14,breast@1>class@no"\n', 'breast@1>class@no\n', '"breast@1,irradiat@central>class@no"\n', '"node-caps@12-14,breast@1,irradiat@central>class@no"\n', '"inv-nodes@5-9,breast@1>class@no"\n', '"inv-nodes@5-9,breast@1,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@1,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@1>class@no"\n', '"node-caps@12-14,breast@1>class@no"\n', '"menopause@70-79,breast@2>class@no"\n', '"menopause@70-79,breast@2,irradiat@central>class@no"\n', '"menopause@70-79,node-caps@12-14,breast@2,irradiat@central>class@no"\n', '"menopause@70-79,node-caps@12-14,breast@2>class@no"\n', '"menopause@70-79,inv-nodes@5-9,breast@2>class@no"\n', '"menopause@70-79,inv-nodes@5-9,breast@2,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,breast@2,irradiat@central,>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,breast@2>class@no"\n', 'menopause@70-79>class@no\n', '"menopause@70-79,irradiat@central>class@no"\n', '"menopause@70-79,node-caps@12-14,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9>class@no"\n', '"menopause@70-79,inv-nodes@5-9,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14,irradiat@central>class@no"\n', '"menopause@70-79,inv-nodes@5-9,node-caps@12-14>class@no"\n', '"menopause@70-79,node-caps@12-14>class@no"\n', 'breast@2>class@no\n', '"breast@2,irradiat@central>class@no"\n', '"node-caps@12-14,breast@2,irradiat@central>class@no"\n', '"node-caps@12-14,breast@2>class@no"\n', '"inv-nodes@5-9,breast@2>class@no"\n', '"inv-nodes@5-9,breast@2,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@2,irradiat@central>class@no"\n', '"inv-nodes@5-9,node-caps@12-14,breast@2>class@no"\n']

In [ ]:
f = open('/content/bcancer_rpgrwoth_rules.csv','w')
for line in lst:
    f.write(line)
f.close()

In [ ]:
df = pd.read_csv('/content/bcancer_rpgrwoth_rules.csv')
df.to_csv("/content/drive/MyDrive/DataSets_for_Paper/bcancer_rpgrowth_out_rules.csv")