<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/compute_confidence_rule.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori


dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

#frequent_itemsets = fpgrowth(df, min_support=0.6, use_colnames=True)
### alternatively:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
#frequent_itemsets = fpmax(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Eggs, Onion)

In [19]:
type(frequent_itemsets)

pandas.core.frame.DataFrame

In [34]:
frequent_itemsets['itemsets']

0                          (Eggs)
1                  (Kidney Beans)
2                          (Milk)
3                         (Onion)
4                        (Yogurt)
5            (Kidney Beans, Eggs)
6                   (Eggs, Onion)
7            (Kidney Beans, Milk)
8           (Kidney Beans, Onion)
9          (Kidney Beans, Yogurt)
10    (Kidney Beans, Eggs, Onion)
Name: itemsets, dtype: object

In [47]:
import pandas as pd
data = [[0.1,'(Kidney Beans, Yogurt)'], [0.1,'(Kidney Beans, Milk)']]
frequent_itemsets = pd.DataFrame(data, columns=['support','itemsets'])
#frequent_itemsets['support'] = 0.1
frequent_itemsets

   support                itemsets
0      0.1  (Kidney Beans, Yogurt)
1      0.1    (Kidney Beans, Milk)

In [42]:
frequent_itemsets['itemsets']

0    (Kidney Beans, Eggs, Onion)
1         (Kidney Beans, Yogurt)
Name: itemsets, dtype: object

In [ ]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)

In [ ]:
minconf = 0.8

In [191]:
df = pd.read_csv("/content/drive/MyDrive/DataSets_for_Paper/bcancer_data_original.csv")

In [192]:
df

     Unnamed: 0                 class    AGE  ... breast breast-quad irradiat
0             0  no-recurrence-events  30-39  ...   left    left_low       no
1             1  no-recurrence-events  40-49  ...  right    right_up       no
2             2  no-recurrence-events  40-49  ...   left    left_low       no
3             3  no-recurrence-events  60-69  ...  right     left_up       no
4             4  no-recurrence-events  40-49  ...  right   right_low       no
..          ...                   ...    ...  ...    ...         ...      ...
281         281     recurrence-events  30-39  ...   left     left_up       no
282         282     recurrence-events  30-39  ...   left     left_up      yes
283         283     recurrence-events  60-69  ...  right     left_up       no
284         284     recurrence-events  40-49  ...   left    left_low       no
285         285     recurrence-events  50-59  ...   left    left_low       no

[286 rows x 11 columns]

In [193]:
len(df)

286

In [263]:
#rule = ['deg-malig@3','class@recurrence-events','irradiat@no','menopause@ge40','breast@left','quad@left_low']
#rule = ['irradiat@no','menopause@ge40','breast@left','quad@left_low']
rule = ['malig@3','target@recurrence-events','irradiat@no','menopause@ge40','breast@left','quad@left_low']

In [264]:
v = []
q= []
list_len = len(rule)

for _, i in enumerate(rule):
  #print(_)
  s=i.split("@")
  att = s[0]
  val = s[1]
  
  if _ == list_len-1:
          if type(val) == int:
            v.append("(df"+"['"+att+"']=="+val+")")
            q.append(att+"=="+val+"")
          else:
            v.append("(df"+"['"+att+"']=='"+val+"')")
            q.append(att+"=='"+val+"'")
  elif type(val) == int:
    print(type(val))
    v.append("(df"+"['"+att+"']=="+val+") &")
    q.append(att+"=="+val+" & ")
  else:
    v.append("(df"+"['"+att+"']=='"+val+"') & ")
    q.append(att+"=='"+val+"' & ")
q

["malig=='3' & ",
 "target=='recurrence-events' & ",
 "irradiat=='no' & ",
 "menopause=='ge40' & ",
 "breast=='left' & ",
 "quad=='left_low'"]

class	AGE	menopause	tumor-size	inv-nodes	node-caps	deg-malig	breast	breast-quad	irradiat

In [265]:
df.rename(columns={'breast-quad':'quad'}, inplace=True)
df.rename(columns={'class':'target'}, inplace=True)
df.rename(columns={'tumor-size':'tumor'}, inplace=True)
df.rename(columns={'inv-nodes':'inv'}, inplace=True)
df.rename(columns={'node-caps':'node'}, inplace=True)
df.rename(columns={'deg-malig':'malig'}, inplace=True)

In [266]:
s = ''.join(q)
s = s.replace("'", '"')
s

'malig=="3" & target=="recurrence-events" & irradiat=="no" & menopause=="ge40" & breast=="left" & quad=="left_low"'

In [268]:
len(df.query(s))

3