<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/FP_growth%2BNeg_itemset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df = pd.read_csv('/content/breast_train_transactions.txt', header = None, sep="," , names=['a','b','c', 'd', 'e', 'f','g', 'h', 'i', 'k'])

In [9]:
df.head(5)

          a         b           c  ...         h             i      k
0  class@no  a1@30-39  a2@premeno  ...   a7@left   a8@left_low  a9@no
1  class@no  a1@40-49  a2@premeno  ...  a7@right   a8@right_up  a9@no
2  class@no  a1@40-49  a2@premeno  ...   a7@left   a8@left_low  a9@no
3  class@no  a1@60-69     a2@ge40  ...  a7@right    a8@left_up  a9@no
4  class@no  a1@40-49  a2@premeno  ...  a7@right  a8@right_low  a9@no

[5 rows x 10 columns]

In [10]:
import numpy as np
df['class_col'] = np.where(df.a == 'class@yes','class@no', 'class@yes')

In [11]:
df.head(5)

          a         b           c  ...             i      k  class_col
0  class@no  a1@30-39  a2@premeno  ...   a8@left_low  a9@no  class@yes
1  class@no  a1@40-49  a2@premeno  ...   a8@right_up  a9@no  class@yes
2  class@no  a1@40-49  a2@premeno  ...   a8@left_low  a9@no  class@yes
3  class@no  a1@60-69     a2@ge40  ...    a8@left_up  a9@no  class@yes
4  class@no  a1@40-49  a2@premeno  ...  a8@right_low  a9@no  class@yes

[5 rows x 11 columns]

In [12]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [13]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object),
 array(['class@yes', 'class@no'], dtype=object)]

In [14]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [15]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object),
 array(['class@yes', 'class@no'], dtype=object)]

In [16]:
len(big_list)

11

In [17]:
new_list = list(map(list,big_list))

In [18]:
new_list

[['class@no', 'class@yes'],
 ['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
 ['a2@premeno', 'a2@ge40', 'a2@lt40'],
 ['a3@30-34',
  'a3@20-24',
  'a3@15-19',
  'a3@0-4',
  'a3@25-29',
  'a3@50-54',
  'a3@10-14',
  'a3@40-44',
  'a3@35-39',
  'a3@5-9',
  'a3@45-49'],
 ['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14', 'a4@24-26'],
 ['a5@no', 'a5@yes', 'a5@?'],
 ['a6@3', 'a6@2', 'a6@1'],
 ['a7@left', 'a7@right'],
 ['a8@left_low',
  'a8@right_up',
  'a8@left_up',
  'a8@right_low',
  'a8@central',
  'a8@?'],
 ['a9@no', 'a9@yes'],
 ['class@yes', 'class@no']]

In [19]:
from pandas.core.common import flatten

In [20]:
u_list = list(flatten(new_list))

In [21]:
u_list = list(flatten(new_list))

In [22]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [23]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object),
 array(['class@yes', 'class@no'], dtype=object)]

In [24]:
len(big_list)

11

In [25]:
new_list = list(map(list,big_list))

In [26]:
new_list

[['class@no', 'class@yes'],
 ['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
 ['a2@premeno', 'a2@ge40', 'a2@lt40'],
 ['a3@30-34',
  'a3@20-24',
  'a3@15-19',
  'a3@0-4',
  'a3@25-29',
  'a3@50-54',
  'a3@10-14',
  'a3@40-44',
  'a3@35-39',
  'a3@5-9',
  'a3@45-49'],
 ['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14', 'a4@24-26'],
 ['a5@no', 'a5@yes', 'a5@?'],
 ['a6@3', 'a6@2', 'a6@1'],
 ['a7@left', 'a7@right'],
 ['a8@left_low',
  'a8@right_up',
  'a8@left_up',
  'a8@right_low',
  'a8@central',
  'a8@?'],
 ['a9@no', 'a9@yes'],
 ['class@yes', 'class@no']]

In [27]:
from pandas.core.common import flatten

In [28]:
u_list = list(flatten(new_list))

In [29]:
u_list = list(flatten(new_list))

In [30]:
u_list.remove('class@yes')
u_list.remove('class@no')

In [31]:
neg_df = df.apply(lambda x: list(set(u_list) - set(x)), axis=1)

In [32]:
neg_df

0      [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
1      [a5@?, a3@40-44, a4@24-26, a7@left, a2@ge40, a...
2      [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
3      [a5@?, a3@40-44, a4@24-26, a8@right_up, a7@lef...
4      [a5@?, a3@40-44, a4@24-26, a8@right_up, a7@lef...
                             ...
235    [a5@?, a3@40-44, a4@24-26, a7@left, a2@ge40, a...
236    [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
237    [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
238    [a5@?, a3@40-44, a4@24-26, a8@right_up, a1@30-...
239    [a5@?, a3@40-44, a4@24-26, a8@right_up, a1@30-...
Length: 240, dtype: object

In [33]:
neg_df.to_csv("neg_data.txt",index=False)

In [34]:
a = ["[","]","'",'"']
lst = []
with open("/content/neg_data.txt", 'r') as neg_data:
  for line in neg_data:
    for symbol in a:
      if symbol in line:
        line = line.replace(symbol,'')
      if ", " in line:
        line = line.replace(", ", ",")
    lst.append(line)
neg_data.close()
f = open('/content/neg_data.txt','w')
for line in lst:
    f.write(line)
f.close()

In [35]:
new_data = pd.concat([df['class_col'],neg_df],axis=1)

In [36]:
new_data

     class_col                                                  0
0    class@yes  [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
1    class@yes  [a5@?, a3@40-44, a4@24-26, a7@left, a2@ge40, a...
2    class@yes  [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
3    class@yes  [a5@?, a3@40-44, a4@24-26, a8@right_up, a7@lef...
4    class@yes  [a5@?, a3@40-44, a4@24-26, a8@right_up, a7@lef...
..         ...                                                ...
235   class@no  [a5@?, a3@40-44, a4@24-26, a7@left, a2@ge40, a...
236   class@no  [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
237   class@no  [a5@?, a3@40-44, a4@24-26, a8@right_up, a2@ge4...
238   class@no  [a5@?, a3@40-44, a4@24-26, a8@right_up, a1@30-...
239   class@no  [a5@?, a3@40-44, a4@24-26, a8@right_up, a1@30-...

[240 rows x 2 columns]

In [37]:
new_data.to_csv("neg_data_c.txt",index=False,header=False)

In [38]:
a = ["[","]","'",'"']
lst = []
with open("/content/neg_data_c.txt", 'r') as neg_data:
  for line in neg_data:
    for symbol in a:
      if symbol in line:
        line = line.replace(symbol,'')
      if ", " in line:
        line = line.replace(", ", ",")
    lst.append(line)
neg_data.close()
f = open('/content/neg_data_c.txt','w')
for line in lst:
    f.write(line)
f.close()

Running FP growth on it

In [39]:
pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in /usr/local/lib/python3.6/dist-packages (1.0)

In [40]:
import pyfpgrowth

In [41]:
import pandas as pd
df = pd.read_csv('/content/neg_data_c.txt', header = None, sep=",")

In [42]:
df.head(5)

          0     1         2   ...        31          32        33
0  class@yes  a5@?  a3@40-44  ...  a3@15-19  a8@central  a3@35-39
1  class@yes  a5@?  a3@40-44  ...  a3@15-19  a8@central  a3@30-34
2  class@yes  a5@?  a3@40-44  ...  a3@15-19  a8@central  a3@30-34
3  class@yes  a5@?  a3@40-44  ...  a1@50-59  a8@central  a3@30-34
4  class@yes  a5@?  a3@40-44  ...  a3@15-19  a8@central  a3@30-34

[5 rows x 34 columns]

In [43]:
trans = df.values.tolist()

In [ ]:
patterns = pyfpgrowth.find_frequent_patterns(trans, .8)

In [ ]:
patterns

In [ ]:
rules = pyfpgrowth.generate_association_rules(patterns, 0.8)
rules