<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/FP_growth%2BNeg_itemset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('/content/breast_train_transactions.txt', header = None, sep="," , names=['a','b','c', 'd', 'e', 'f','g', 'h', 'i', 'k'])

In [2]:
df.head(5)

          a         b           c  ...         h             i      k
0  class@no  a1@30-39  a2@premeno  ...   a7@left   a8@left_low  a9@no
1  class@no  a1@40-49  a2@premeno  ...  a7@right   a8@right_up  a9@no
2  class@no  a1@40-49  a2@premeno  ...   a7@left   a8@left_low  a9@no
3  class@no  a1@60-69     a2@ge40  ...  a7@right    a8@left_up  a9@no
4  class@no  a1@40-49  a2@premeno  ...  a7@right  a8@right_low  a9@no

[5 rows x 10 columns]

In [3]:
import numpy as np
df['class_col'] = np.where(df.a == 'class@yes','class@no', 'class@yes')

In [4]:
df.head(5)

          a         b           c  ...             i      k  class_col
0  class@no  a1@30-39  a2@premeno  ...   a8@left_low  a9@no  class@yes
1  class@no  a1@40-49  a2@premeno  ...   a8@right_up  a9@no  class@yes
2  class@no  a1@40-49  a2@premeno  ...   a8@left_low  a9@no  class@yes
3  class@no  a1@60-69     a2@ge40  ...    a8@left_up  a9@no  class@yes
4  class@no  a1@40-49  a2@premeno  ...  a8@right_low  a9@no  class@yes

[5 rows x 11 columns]

In [5]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [6]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object),
 array(['class@yes', 'class@no'], dtype=object)]

In [7]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [8]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object),
 array(['class@yes', 'class@no'], dtype=object)]

In [9]:
len(big_list)

11

In [10]:
new_list = list(map(list,big_list))

In [11]:
new_list

[['class@no', 'class@yes'],
 ['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
 ['a2@premeno', 'a2@ge40', 'a2@lt40'],
 ['a3@30-34',
  'a3@20-24',
  'a3@15-19',
  'a3@0-4',
  'a3@25-29',
  'a3@50-54',
  'a3@10-14',
  'a3@40-44',
  'a3@35-39',
  'a3@5-9',
  'a3@45-49'],
 ['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14', 'a4@24-26'],
 ['a5@no', 'a5@yes', 'a5@?'],
 ['a6@3', 'a6@2', 'a6@1'],
 ['a7@left', 'a7@right'],
 ['a8@left_low',
  'a8@right_up',
  'a8@left_up',
  'a8@right_low',
  'a8@central',
  'a8@?'],
 ['a9@no', 'a9@yes'],
 ['class@yes', 'class@no']]

In [12]:
from pandas.core.common import flatten

In [13]:
u_list = list(flatten(new_list))

In [14]:
u_list = list(flatten(new_list))

In [15]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [16]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object),
 array(['class@yes', 'class@no'], dtype=object)]

In [17]:
len(big_list)

11

In [18]:
new_list = list(map(list,big_list))

In [19]:
new_list

[['class@no', 'class@yes'],
 ['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
 ['a2@premeno', 'a2@ge40', 'a2@lt40'],
 ['a3@30-34',
  'a3@20-24',
  'a3@15-19',
  'a3@0-4',
  'a3@25-29',
  'a3@50-54',
  'a3@10-14',
  'a3@40-44',
  'a3@35-39',
  'a3@5-9',
  'a3@45-49'],
 ['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14', 'a4@24-26'],
 ['a5@no', 'a5@yes', 'a5@?'],
 ['a6@3', 'a6@2', 'a6@1'],
 ['a7@left', 'a7@right'],
 ['a8@left_low',
  'a8@right_up',
  'a8@left_up',
  'a8@right_low',
  'a8@central',
  'a8@?'],
 ['a9@no', 'a9@yes'],
 ['class@yes', 'class@no']]

In [20]:
from pandas.core.common import flatten

In [21]:
u_list = list(flatten(new_list))

In [22]:
u_list = list(flatten(new_list))

In [23]:
u_list.remove('class@yes')
u_list.remove('class@no')

In [58]:
neg_df = df.apply(lambda x: list(set(u_list) - set(x)), axis=1)

In [34]:
neg_df[0]

['a4@24-26',
 'a5@?',
 'a8@right_low',
 'a8@left_up',
 'a1@70-79',
 'a3@45-49',
 'a6@1',
 'a4@12-14',
 'a5@yes',
 'a3@5-9',
 'a4@15-17',
 'a7@right',
 'a9@yes',
 'a1@50-59',
 'a1@40-49',
 'a3@25-29',
 'a4@9-11',
 'a3@50-54',
 'a2@ge40',
 'a4@6-8',
 'a1@60-69',
 'a8@right_up',
 'a8@central',
 'a3@20-24',
 'a3@40-44',
 'a3@15-19',
 'a2@lt40',
 'a3@10-14',
 'a4@3-5',
 'a8@?',
 'a3@35-39',
 'a6@2',
 'a3@0-4']

In [39]:
sort_order = ['a1@10-19', 'a1@20-29', 'a1@30-39', 'a1@40-49', 'a1@50-59', 'a1@60-69', 'a1@70-79', 'a1@80-89', 'a1@90-99','a1@?',
              'a2@lt40', 'a2@ge40', 'a2@premeno','a2@?',
              'a3@0-4', 'a3@5-9', 'a3@10-14', 'a3@15-19', 'a3@20-24', 'a3@25-29', 'a3@30-34', 'a3@35-39', 'a3@40-44', 'a3@45-49', 'a3@50-54', 'a3@55-59','a3@?',
              'a4@0-2', 'a4@3-5', 'a4@6-8', 'a4@9-11', 'a4@12-14', 'a4@15-17', 'a4@18-20', 'a4@21-23', 'a4@24-26', 'a4@27-29', 'a4@30-32', 'a4@33-35', 'a4@36-39','a4@?',
              'a5@yes', 'a5@no', 'a5@?',
              'a6@1', 'a6@2', 'a6@3','a6@?',
              'a7@left', 'a7@right','a7@?',
              'a8@left_up', 'a8@left_low', 'a8@right_up', 'a8@right_low', 'a8@central','a8@?',
              'a9@yes','a9@no', 'a9@?'
              ]

In [59]:
neg_df_sorted = []
for i in neg_df:
  i = sorted(i, key = lambda x: sort_order.index(x))
  neg_df_sorted.append(i)

In [60]:
neg_df_final = pd.Series((i for i in neg_df_sorted))

In [61]:
neg_df_final

0      [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
1      [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
2      [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
3      [a1@30-39, a1@40-49, a1@50-59, a1@70-79, a2@lt...
4      [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
                             ...
235    [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...
236    [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
237    [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
238    [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
239    [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...
Length: 240, dtype: object

In [63]:
neg_df_final.to_csv("neg_data_sorted_final.txt",index=False, header=False)

In [64]:
neg_df.to_csv("neg_data.txt",index=False)

In [65]:
a = ["[","]","'",'"']
lst = []
with open("/content/neg_data_sorted_final.txt", 'r') as neg_data:
  for line in neg_data:
    for symbol in a:
      if symbol in line:
        line = line.replace(symbol,'')
      if ", " in line:
        line = line.replace(", ", ",")
    lst.append(line)
neg_data.close()
f = open('/content/neg_data_sorted_final.txt','w')
for line in lst:
    f.write(line)
f.close()

In [66]:
new_data = pd.concat([df['class_col'],neg_df_final],axis=1)

In [67]:
new_data

     class_col                                                  0
0    class@yes  [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
1    class@yes  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
2    class@yes  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
3    class@yes  [a1@30-39, a1@40-49, a1@50-59, a1@70-79, a2@lt...
4    class@yes  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
..         ...                                                ...
235   class@no  [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...
236   class@no  [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
237   class@no  [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
238   class@no  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
239   class@no  [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...

[240 rows x 2 columns]

In [68]:
new_data.to_csv("neg_data_c.txt",index=False,header=False)

In [69]:
a = ["[","]","'",'"']
lst = []
with open("/content/neg_data_c.txt", 'r') as neg_data:
  for line in neg_data:
    for symbol in a:
      if symbol in line:
        line = line.replace(symbol,'')
      if ", " in line:
        line = line.replace(", ", ",")
    lst.append(line)
neg_data.close()
f = open('/content/neg_data_c.txt','w')
for line in lst:
    f.write(line)
f.close()

Running FP growth on it

In [70]:
pip install pyfpgrowth

Collecting pyfpgrowth
  Downloading https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz (1.6MB)
     |████████████████████████████████| 1.6MB 8.8MB/s
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Created wheel for pyfpgrowth: filename=pyfpgrowth-1.0-py2.py3-none-any.whl size=5477 sha256=9e0de9e0a24373000e56a6a125f47b00efb900d13ab6e70bbe43950317d2cce0
  Stored in directory: /root/.cache/pip/wheels/3b/3f/0d/a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [71]:
import pyfpgrowth

In [72]:
import pandas as pd
df = pd.read_csv('/content/neg_data_c.txt', header = None, sep=",")

In [73]:
df.head(5)

          0         1         2   ...          31    32      33
0  class@yes  a1@40-49  a1@50-59  ...  a8@central  a8@?  a9@yes
1  class@yes  a1@30-39  a1@50-59  ...  a8@central  a8@?  a9@yes
2  class@yes  a1@30-39  a1@50-59  ...  a8@central  a8@?  a9@yes
3  class@yes  a1@30-39  a1@40-49  ...  a8@central  a8@?  a9@yes
4  class@yes  a1@30-39  a1@50-59  ...  a8@central  a8@?  a9@yes

[5 rows x 34 columns]

In [74]:
trans = df.values.tolist()

In [ ]:
patterns = pyfpgrowth.find_frequent_patterns(trans, .8)

In [ ]:
patterns

In [ ]:
rules = pyfpgrowth.generate_association_rules(patterns, 0.8)
rules