<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/Hep_data_read_subset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Attribute information: 
     1. Class: DIE, LIVE
     2. AGE: 10, 20, 30, 40, 50, 60, 70, 80
     3. SEX: male, female
     4. STEROID: no, yes
     5. ANTIVIRALS: no, yes
     6. FATIGUE: no, yes
     7. MALAISE: no, yes
     8. ANOREXIA: no, yes
     9. LIVER BIG: no, yes
    10. LIVER FIRM: no, yes
    11. SPLEEN PALPABLE: no, yes
    12. SPIDERS: no, yes
    13. ASCITES: no, yes
    14. VARICES: no, yes
    15. BILIRUBIN: 0.39, 0.80, 1.20, 2.00, 3.00, 4.00
        -- see the note below
    16. ALK PHOSPHATE: 33, 80, 120, 160, 200, 250
    17. SGOT: 13, 100, 200, 300, 400, 500, 
    18. ALBUMIN: 2.1, 3.0, 3.8, 4.5, 5.0, 6.0
    19. PROTIME: 10, 20, 30, 40, 50, 60, 70, 80, 90
    20. HISTOLOGY: no, yes

In [157]:
import pandas as pd

df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data', 
    sep=',', 
    header=None,
    names = ['class'
    ,'AGE'
    ,'SEX'
    ,'STEROID'
    ,'ANTIVIRALS'
    ,'FATIGUE'
    ,'MALAISE'
    ,'ANOREXIA'
    ,'LIVER BIG'
    ,'LIVER FIRM'
    ,'SPLEEN PALPABLE'
    ,'SPIDERS'
    ,'ASCITES'
    ,'VARICES'
    ,'BILIRUBIN'
    ,'ALK PHOSPHATE'
    ,'SGOT'
    ,'ALBUMIN'
    ,'PROTIME'
    ,'HISTOLOGY']
)

print(df)

     class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0        2   30    2       1  ...    18     4.0       ?         1
1        2   50    1       1  ...    42     3.5       ?         1
2        2   78    1       2  ...    32     4.0       ?         1
3        2   31    1       ?  ...    52     4.0      80         1
4        2   34    1       2  ...   200     4.0       ?         1
..     ...  ...  ...     ...  ...   ...     ...     ...       ...
150      1   46    1       2  ...   242     3.3      50         2
151      2   44    1       2  ...   142     4.3       ?         2
152      2   61    1       1  ...    20     4.1       ?         2
153      2   53    2       1  ...    19     4.1      48         2
154      1   43    1       2  ...    19     3.1      42         2

[155 rows x 20 columns]

In [158]:
df.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_data_original.csv")

In [159]:
df.head(5)

   class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0      2   30    2       1  ...    18     4.0       ?         1
1      2   50    1       1  ...    42     3.5       ?         1
2      2   78    1       2  ...    32     4.0       ?         1
3      2   31    1       ?  ...    52     4.0      80         1
4      2   34    1       2  ...   200     4.0       ?         1

[5 rows x 20 columns]

In [160]:
#can comment as per the needs
df = df.drop(columns=['BILIRUBIN', 'ALK PHOSPHATE', 'SGOT', 'ALBUMIN', 'PROTIME'])

In [161]:
"""import numpy as np
for col in df.columns:
  df[col] = df[col].replace('?', np.NaN)"""

"import numpy as np\nfor col in df.columns:\n  df[col] = df[col].replace('?', np.NaN)"

In [162]:
missing = pd.isnull(df).sum()

In [163]:
missing

class              0
AGE                0
SEX                0
STEROID            0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
HISTOLOGY          0
dtype: int64

In [164]:
df.columns[df.isna().any()].tolist()

[]

In [165]:
"""for i,n in enumerate(missing):
  if n > 5:
    df.iloc[:, i] = df.iloc[:, i].fillna((df.iloc[:, i].mean()))"""

'for i,n in enumerate(missing):\n  if n > 5:\n    df.iloc[:, i] = df.iloc[:, i].fillna((df.iloc[:, i].mean()))'

In [166]:
"""for i in i:
  df[i] = df[i].fillna((df[i].mean()))"""

'for i in i:\n  df[i] = df[i].fillna((df[i].mean()))'

In [167]:
"""df.head()"""

'df.head()'

In [168]:
"""df['STEROID'] = df['STEROID'].fillna((df['STEROID'].mean()))
df['FATIGUE'] = df['FATIGUE'].fillna((df['FATIGUE'].mean()))
df['MALAISE'] = df['MALAISE'].fillna((df['MALAISE'].mean()))
df['ANOREXIA'] = df['ANOREXIA'].fillna((df['ANOREXIA'].mean()))"""

"df['STEROID'] = df['STEROID'].fillna((df['STEROID'].mean()))\ndf['FATIGUE'] = df['FATIGUE'].fillna((df['FATIGUE'].mean()))\ndf['MALAISE'] = df['MALAISE'].fillna((df['MALAISE'].mean()))\ndf['ANOREXIA'] = df['ANOREXIA'].fillna((df['ANOREXIA'].mean()))"

For rules generations

In [169]:
for i,n in enumerate(df.columns):
  if n=='class':
    df[n] = 'class@' + df[n].astype(str)
  else:
    df[n] = 'A'+str(i)+'@' + df[n].astype(str)

In [170]:
#df['class'] = df['class'].replace('A0@', 'class@')

In [171]:
df

       class    AGE   SEX STEROID  ... SPIDERS ASCITES VARICES HISTOLOGY
0    class@2  A1@30  A2@2    A3@1  ...   A11@2   A12@2   A13@2     A14@1
1    class@2  A1@50  A2@1    A3@1  ...   A11@2   A12@2   A13@2     A14@1
2    class@2  A1@78  A2@1    A3@2  ...   A11@2   A12@2   A13@2     A14@1
3    class@2  A1@31  A2@1    A3@?  ...   A11@2   A12@2   A13@2     A14@1
4    class@2  A1@34  A2@1    A3@2  ...   A11@2   A12@2   A13@2     A14@1
..       ...    ...   ...     ...  ...     ...     ...     ...       ...
150  class@1  A1@46  A2@1    A3@2  ...   A11@1   A12@1   A13@1     A14@2
151  class@2  A1@44  A2@1    A3@2  ...   A11@2   A12@2   A13@2     A14@2
152  class@2  A1@61  A2@1    A3@1  ...   A11@1   A12@2   A13@2     A14@2
153  class@2  A1@53  A2@2    A3@1  ...   A11@1   A12@2   A13@1     A14@2
154  class@1  A1@43  A2@1    A3@2  ...   A11@1   A12@1   A13@2     A14@2

[155 rows x 15 columns]

In [172]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, stratify = df['class'], test_size = .2)

In [173]:
train

       class    AGE   SEX STEROID  ... SPIDERS ASCITES VARICES HISTOLOGY
82   class@2  A1@30  A2@1    A3@1  ...   A11@2   A12@2   A13@2     A14@1
77   class@2  A1@34  A2@2    A3@1  ...   A11@2   A12@2   A13@2     A14@1
134  class@1  A1@38  A2@1    A3@1  ...   A11@2   A12@2   A13@2     A14@2
108  class@2  A1@54  A2@1    A3@1  ...   A11@2   A12@2   A13@2     A14@2
36   class@2  A1@23  A2@1    A3@2  ...   A11@2   A12@2   A13@2     A14@1
..       ...    ...   ...     ...  ...     ...     ...     ...       ...
58   class@2  A1@64  A2@1    A3@2  ...   A11@2   A12@2   A13@2     A14@1
120  class@1  A1@56  A2@1    A3@1  ...   A11@1   A12@2   A13@2     A14@2
90   class@2  A1@50  A2@2    A3@1  ...   A11@1   A12@2   A13@2     A14@2
142  class@2  A1@51  A2@1    A3@2  ...   A11@1   A12@2   A13@1     A14@2
118  class@1  A1@61  A2@1    A3@1  ...   A11@1   A12@2   A13@2     A14@2

[124 rows x 15 columns]

In [174]:
train.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_train.csv", header=None,index=False)
test.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_test.csv", header=None,index=False)

For RP-growth Data

In [175]:
uni = pd.DataFrame()
for col in df:
    uni= pd.concat([uni, pd.DataFrame(df[col].unique())], ignore_index=True)

In [176]:
uni

          0
0   class@2
1   class@1
2     A1@30
3     A1@50
4     A1@78
..      ...
82    A13@2
83    A13@?
84    A13@1
85    A14@1
86    A14@2

[87 rows x 1 columns]

In [177]:
my_dict = uni.to_dict()

In [178]:
my_dict

{0: {0: 'class@2',
  1: 'class@1',
  2: 'A1@30',
  3: 'A1@50',
  4: 'A1@78',
  5: 'A1@31',
  6: 'A1@34',
  7: 'A1@51',
  8: 'A1@23',
  9: 'A1@39',
  10: 'A1@32',
  11: 'A1@41',
  12: 'A1@47',
  13: 'A1@38',
  14: 'A1@66',
  15: 'A1@40',
  16: 'A1@22',
  17: 'A1@27',
  18: 'A1@42',
  19: 'A1@25',
  20: 'A1@49',
  21: 'A1@58',
  22: 'A1@61',
  23: 'A1@62',
  24: 'A1@26',
  25: 'A1@35',
  26: 'A1@37',
  27: 'A1@20',
  28: 'A1@65',
  29: 'A1@52',
  30: 'A1@33',
  31: 'A1@56',
  32: 'A1@28',
  33: 'A1@36',
  34: 'A1@44',
  35: 'A1@64',
  36: 'A1@45',
  37: 'A1@57',
  38: 'A1@24',
  39: 'A1@67',
  40: 'A1@59',
  41: 'A1@60',
  42: 'A1@48',
  43: 'A1@54',
  44: 'A1@7',
  45: 'A1@69',
  46: 'A1@72',
  47: 'A1@70',
  48: 'A1@46',
  49: 'A1@53',
  50: 'A1@43',
  51: 'A2@2',
  52: 'A2@1',
  53: 'A3@1',
  54: 'A3@2',
  55: 'A3@?',
  56: 'A4@2',
  57: 'A4@1',
  58: 'A5@2',
  59: 'A5@1',
  60: 'A5@?',
  61: 'A6@2',
  62: 'A6@1',
  63: 'A6@?',
  64: 'A7@2',
  65: 'A7@1',
  66: 'A7@?',
  67: 'A8@1',
  68: 'A8@2',
  69: 'A8@?',
  70: 'A9@2',
  71: 'A9@1',
  72: 'A9@?',
  73: 'A10@2',
  74: 'A10@1',
  75: 'A10@?',
  76: 'A11@2',
  77: 'A11@1',
  78: 'A11@?',
  79: 'A12@2',
  80: 'A12@1',
  81: 'A12@?',
  82: 'A13@2',
  83: 'A13@?',
  84: 'A13@1',
  85: 'A14@1',
  86: 'A14@2'}}

In [179]:
my_dict = my_dict[0]

In [180]:
new_dict = dict((value, key) for key, value in my_dict.items())

In [181]:
for col in train:
    train[col] = train[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [182]:
train

     class  AGE  SEX  STEROID  ...  SPIDERS  ASCITES  VARICES  HISTOLOGY
82       0    2   52       53  ...       76       79       82         85
77       0    6   51       53  ...       76       79       82         85
134      1   13   52       53  ...       76       79       82         86
108      0   43   52       53  ...       76       79       82         86
36       0    8   52       54  ...       76       79       82         85
..     ...  ...  ...      ...  ...      ...      ...      ...        ...
58       0   35   52       54  ...       76       79       82         85
120      1   31   52       53  ...       77       79       82         86
90       0    3   51       53  ...       77       79       82         86
142      0    7   52       54  ...       77       79       84         86
118      1   22   52       53  ...       77       79       82         86

[124 rows x 15 columns]

In [183]:
for col in test:
    test[col] = test[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [184]:
train.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_rp_train.csv", header=None,index=False)
test.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_rp_test.csv", header=None,index=False)