<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/Hep_data_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Attribute information: 
     1. Class: DIE, LIVE
     2. AGE: 10, 20, 30, 40, 50, 60, 70, 80
     3. SEX: male, female
     4. STEROID: no, yes
     5. ANTIVIRALS: no, yes
     6. FATIGUE: no, yes
     7. MALAISE: no, yes
     8. ANOREXIA: no, yes
     9. LIVER BIG: no, yes
    10. LIVER FIRM: no, yes
    11. SPLEEN PALPABLE: no, yes
    12. SPIDERS: no, yes
    13. ASCITES: no, yes
    14. VARICES: no, yes
    15. BILIRUBIN: 0.39, 0.80, 1.20, 2.00, 3.00, 4.00
        -- see the note below
    16. ALK PHOSPHATE: 33, 80, 120, 160, 200, 250
    17. SGOT: 13, 100, 200, 300, 400, 500, 
    18. ALBUMIN: 2.1, 3.0, 3.8, 4.5, 5.0, 6.0
    19. PROTIME: 10, 20, 30, 40, 50, 60, 70, 80, 90
    20. HISTOLOGY: no, yes

In [127]:
import pandas as pd

df = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data', 
    sep=',', 
    header=None,
    names = ['Class'
    ,'AGE'
    ,'SEX'
    ,'STEROID'
    ,'ANTIVIRALS'
    ,'FATIGUE'
    ,'MALAISE'
    ,'ANOREXIA'
    ,'LIVER BIG'
    ,'LIVER FIRM'
    ,'SPLEEN PALPABLE'
    ,'SPIDERS'
    ,'ASCITES'
    ,'VARICES'
    ,'BILIRUBIN'
    ,'ALK PHOSPHATE'
    ,'SGOT'
    ,'ALBUMIN'
    ,'PROTIME'
    ,'HISTOLOGY']
)

print(df)

     Class  AGE  SEX STEROID  ...  SGOT ALBUMIN PROTIME HISTOLOGY
0        2   30    2       1  ...    18     4.0       ?         1
1        2   50    1       1  ...    42     3.5       ?         1
2        2   78    1       2  ...    32     4.0       ?         1
3        2   31    1       ?  ...    52     4.0      80         1
4        2   34    1       2  ...   200     4.0       ?         1
..     ...  ...  ...     ...  ...   ...     ...     ...       ...
150      1   46    1       2  ...   242     3.3      50         2
151      2   44    1       2  ...   142     4.3       ?         2
152      2   61    1       1  ...    20     4.1       ?         2
153      2   53    2       1  ...    19     4.1      48         2
154      1   43    1       2  ...    19     3.1      42         2

[155 rows x 20 columns]

In [128]:
for i,n in enumerate(df.columns):
  #print(i,n)
  df[n] = 'A'+str(i)+'@' + df[n].astype(str)

In [129]:
df

    Class    AGE   SEX STEROID  ...     SGOT  ALBUMIN PROTIME HISTOLOGY
0    A0@2  A1@30  A2@2    A3@1  ...   A16@18  A17@4.0   A18@?     A19@1
1    A0@2  A1@50  A2@1    A3@1  ...   A16@42  A17@3.5   A18@?     A19@1
2    A0@2  A1@78  A2@1    A3@2  ...   A16@32  A17@4.0   A18@?     A19@1
3    A0@2  A1@31  A2@1    A3@?  ...   A16@52  A17@4.0  A18@80     A19@1
4    A0@2  A1@34  A2@1    A3@2  ...  A16@200  A17@4.0   A18@?     A19@1
..    ...    ...   ...     ...  ...      ...      ...     ...       ...
150  A0@1  A1@46  A2@1    A3@2  ...  A16@242  A17@3.3  A18@50     A19@2
151  A0@2  A1@44  A2@1    A3@2  ...  A16@142  A17@4.3   A18@?     A19@2
152  A0@2  A1@61  A2@1    A3@1  ...   A16@20  A17@4.1   A18@?     A19@2
153  A0@2  A1@53  A2@2    A3@1  ...   A16@19  A17@4.1  A18@48     A19@2
154  A0@1  A1@43  A2@1    A3@2  ...   A16@19  A17@3.1  A18@42     A19@2

[155 rows x 20 columns]

In [130]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, stratify = df['Class'], test_size = .2)

In [131]:
train.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_train.csv")
test.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_test.csv")

For RP-growth Data

In [132]:
uni = pd.DataFrame()
for col in df:
    uni= pd.concat([uni, pd.DataFrame(df[col].unique())], ignore_index=True)

In [133]:
uni

          0
0      A0@2
1      A0@1
2     A1@30
3     A1@50
4     A1@78
..      ...
361  A18@35
362  A18@48
363  A18@42
364   A19@1
365   A19@2

[366 rows x 1 columns]

In [134]:
my_dict = uni.to_dict()

In [135]:
my_dict

{0: {0: 'A0@2',
  1: 'A0@1',
  2: 'A1@30',
  3: 'A1@50',
  4: 'A1@78',
  5: 'A1@31',
  6: 'A1@34',
  7: 'A1@51',
  8: 'A1@23',
  9: 'A1@39',
  10: 'A1@32',
  11: 'A1@41',
  12: 'A1@47',
  13: 'A1@38',
  14: 'A1@66',
  15: 'A1@40',
  16: 'A1@22',
  17: 'A1@27',
  18: 'A1@42',
  19: 'A1@25',
  20: 'A1@49',
  21: 'A1@58',
  22: 'A1@61',
  23: 'A1@62',
  24: 'A1@26',
  25: 'A1@35',
  26: 'A1@37',
  27: 'A1@20',
  28: 'A1@65',
  29: 'A1@52',
  30: 'A1@33',
  31: 'A1@56',
  32: 'A1@28',
  33: 'A1@36',
  34: 'A1@44',
  35: 'A1@64',
  36: 'A1@45',
  37: 'A1@57',
  38: 'A1@24',
  39: 'A1@67',
  40: 'A1@59',
  41: 'A1@60',
  42: 'A1@48',
  43: 'A1@54',
  44: 'A1@7',
  45: 'A1@69',
  46: 'A1@72',
  47: 'A1@70',
  48: 'A1@46',
  49: 'A1@53',
  50: 'A1@43',
  51: 'A2@2',
  52: 'A2@1',
  53: 'A3@1',
  54: 'A3@2',
  55: 'A3@?',
  56: 'A4@2',
  57: 'A4@1',
  58: 'A5@2',
  59: 'A5@1',
  60: 'A5@?',
  61: 'A6@2',
  62: 'A6@1',
  63: 'A6@?',
  64: 'A7@2',
  65: 'A7@1',
  66: 'A7@?',
  67: 'A8@1',
  68: 'A8@2',
  69: 'A8@?',
  70: 'A9@2',
  71: 'A9@1',
  72: 'A9@?',
  73: 'A10@2',
  74: 'A10@1',
  75: 'A10@?',
  76: 'A11@2',
  77: 'A11@1',
  78: 'A11@?',
  79: 'A12@2',
  80: 'A12@1',
  81: 'A12@?',
  82: 'A13@2',
  83: 'A13@?',
  84: 'A13@1',
  85: 'A14@1.00',
  86: 'A14@0.90',
  87: 'A14@0.70',
  88: 'A14@?',
  89: 'A14@1.30',
  90: 'A14@2.20',
  91: 'A14@2.00',
  92: 'A14@1.20',
  93: 'A14@0.60',
  94: 'A14@0.40',
  95: 'A14@0.80',
  96: 'A14@1.40',
  97: 'A14@2.30',
  98: 'A14@0.50',
  99: 'A14@0.30',
  100: 'A14@4.60',
  101: 'A14@1.80',
  102: 'A14@3.50',
  103: 'A14@4.10',
  104: 'A14@1.60',
  105: 'A14@2.80',
  106: 'A14@1.50',
  107: 'A14@2.50',
  108: 'A14@3.00',
  109: 'A14@4.80',
  110: 'A14@2.40',
  111: 'A14@1.70',
  112: 'A14@1.10',
  113: 'A14@3.20',
  114: 'A14@2.90',
  115: 'A14@8.00',
  116: 'A14@3.90',
  117: 'A14@1.90',
  118: 'A14@4.20',
  119: 'A14@7.60',
  120: 'A15@85',
  121: 'A15@135',
  122: 'A15@96',
  123: 'A15@46',
  124: 'A15@?',
  125: 'A15@95',
  126: 'A15@78',
  127: 'A15@59',
  128: 'A15@81',
  129: 'A15@57',
  130: 'A15@72',
  131: 'A15@102',
  132: 'A15@62',
  133: 'A15@53',
  134: 'A15@70',
  135: 'A15@48',
  136: 'A15@133',
  137: 'A15@60',
  138: 'A15@45',
  139: 'A15@175',
  140: 'A15@280',
  141: 'A15@58',
  142: 'A15@67',
  143: 'A15@194',
  144: 'A15@150',
  145: 'A15@180',
  146: 'A15@75',
  147: 'A15@56',
  148: 'A15@71',
  149: 'A15@74',
  150: 'A15@80',
  151: 'A15@191',
  152: 'A15@125',
  153: 'A15@110',
  154: 'A15@50',
  155: 'A15@92',
  156: 'A15@52',
  157: 'A15@26',
  158: 'A15@215',
  159: 'A15@164',
  160: 'A15@103',
  161: 'A15@34',
  162: 'A15@68',
  163: 'A15@82',
  164: 'A15@127',
  165: 'A15@76',
  166: 'A15@100',
  167: 'A15@55',
  168: 'A15@167',
  169: 'A15@30',
  170: 'A15@179',
  171: 'A15@141',
  172: 'A15@44',
  173: 'A15@165',
  174: 'A15@118',
  175: 'A15@230',
  176: 'A15@107',
  177: 'A15@40',
  178: 'A15@147',
  179: 'A15@114',
  180: 'A15@84',
  181: 'A15@123',
  182: 'A15@168',
  183: 'A15@86',
  184: 'A15@138',
  185: 'A15@155',
  186: 'A15@63',
  187: 'A15@256',
  188: 'A15@119',
  189: 'A15@139',
  190: 'A15@90',
  191: 'A15@160',
  192: 'A15@158',
  193: 'A15@115',
  194: 'A15@243',
  195: 'A15@181',
  196: 'A15@130',
  197: 'A15@166',
  198: 'A15@295',
  199: 'A15@120',
  200: 'A15@65',
  201: 'A15@109',
  202: 'A15@89',
  203: 'A15@126',
  204: 'A16@18',
  205: 'A16@42',
  206: 'A16@32',
  207: 'A16@52',
  208: 'A16@200',
  209: 'A16@28',
  210: 'A16@?',
  211: 'A16@48',
  212: 'A16@120',
  213: 'A16@30',
  214: 'A16@249',
  215: 'A16@60',
  216: 'A16@144',
  217: 'A16@89',
  218: 'A16@53',
  219: 'A16@166',
  220: 'A16@20',
  221: 'A16@98',
  222: 'A16@63',
  223: 'A16@46',
  224: 'A16@55',
  225: 'A16@25',
  226: 'A16@58',
  227: 'A16@29',
  228: 'A16@92',
  229: 'A16@150',
  230: 'A16@68',
  231: 'A16@14',
  232: 'A16@16',
  233: 'A16@90',
  234: 'A16@86',
  235: 'A16@110',
  236: 'A16@80',
  237: 'A16@420',
  238: 'A16@44',
  239: 'A16@65',
  240: 'A16@145',
  241: 'A16@31',
  242: 'A16@78',
  243: 'A16@59',
  244: 'A16@38',
  245: 'A16@75',
  246: 'A16@64',
  247: 'A16@54',
  248: 'A16@43',
  249: 'A16@33',
  250: 'A16@15',
  251: 'A16@39',
  252: 'A16@182',
  253: 'A16@271',
  254: 'A16@45',
  255: 'A16@100',
  256: 'A16@242',
  257: 'A16@24',
  258: 'A16@224',
  259: 'A16@69',
  260: 'A16@156',
  261: 'A16@123',
  262: 'A16@117',
  263: 'A16@157',
  264: 'A16@128',
  265: 'A16@23',
  266: 'A16@40',
  267: 'A16@227',
  268: 'A16@269',
  269: 'A16@34',
  270: 'A16@648',
  271: 'A16@225',
  272: 'A16@136',
  273: 'A16@81',
  274: 'A16@153',
  275: 'A16@118',
  276: 'A16@231',
  277: 'A16@101',
  278: 'A16@278',
  279: 'A16@49',
  280: 'A16@181',
  281: 'A16@140',
  282: 'A16@70',
  283: 'A16@114',
  284: 'A16@173',
  285: 'A16@528',
  286: 'A16@152',
  287: 'A16@142',
  288: 'A16@19',
  289: 'A17@4.0',
  290: 'A17@3.5',
  291: 'A17@?',
  292: 'A17@4.4',
  293: 'A17@3.9',
  294: 'A17@3.7',
  295: 'A17@4.9',
  296: 'A17@2.9',
  297: 'A17@4.3',
  298: 'A17@4.1',
  299: 'A17@4.2',
  300: 'A17@4.7',
  301: 'A17@3.8',
  302: 'A17@2.7',
  303: 'A17@4.6',
  304: 'A17@5.0',
  305: 'A17@3.3',
  306: 'A17@4.5',
  307: 'A17@3.4',
  308: 'A17@3.1',
  309: 'A17@3.0',
  310: 'A17@2.6',
  311: 'A17@5.3',
  312: 'A17@4.8',
  313: 'A17@2.8',
  314: 'A17@3.6',
  315: 'A17@2.1',
  316: 'A17@6.4',
  317: 'A17@2.4',
  318: 'A17@2.2',
  319: 'A18@?',
  320: 'A18@80',
  321: 'A18@75',
  322: 'A18@85',
  323: 'A18@54',
  324: 'A18@52',
  325: 'A18@78',
  326: 'A18@46',
  327: 'A18@63',
  328: 'A18@62',
  329: 'A18@64',
  330: 'A18@39',
  331: 'A18@100',
  332: 'A18@47',
  333: 'A18@70',
  334: 'A18@36',
  335: 'A18@40',
  336: 'A18@74',
  337: 'A18@60',
  338: 'A18@73',
  339: 'A18@90',
  340: 'A18@21',
  341: 'A18@77',
  342: 'A18@29',
  343: 'A18@41',
  344: 'A18@66',
  345: 'A18@57',
  346: 'A18@56',
  347: 'A18@76',
  348: 'A18@58',
  349: 'A18@84',
  350: 'A18@38',
  351: 'A18@67',
  352: 'A18@31',
  353: 'A18@51',
  354: 'A18@23',
  355: 'A18@72',
  356: 'A18@32',
  357: 'A18@30',
  358: 'A18@0',
  359: 'A18@50',
  360: 'A18@43',
  361: 'A18@35',
  362: 'A18@48',
  363: 'A18@42',
  364: 'A19@1',
  365: 'A19@2'}}

In [136]:
my_dict = my_dict[0]

In [137]:
new_dict = dict((value, key) for key, value in my_dict.items())

In [138]:
for col in train:
    train[col] = train[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [139]:
train

     Class  AGE  SEX  STEROID  ...  SGOT  ALBUMIN  PROTIME  HISTOLOGY
97       0   34   52       53  ...   239      290      319        365
38       0   18   52       53  ...   231      289      331        364
37       0   27   51       53  ...   230      293      319        364
22       0    5   52       54  ...   220      289      331        364
86       1   34   52       53  ...   224      291      343        365
..     ...  ...  ...      ...  ...   ...      ...      ...        ...
88       1   13   52       53  ...   232      313      319        365
33       0   24   51       53  ...   227      301      337        364
145      0    5   52       53  ...   284      299      323        365
49       0   13   52       54  ...   239      299      341        364
115      0   45   51       54  ...   272      291      319        365

[124 rows x 20 columns]

In [140]:
for col in test:
    test[col] = test[col].replace(new_dict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [141]:
train.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_rp_train.csv")
test.to_csv("/content/drive/MyDrive/Hep_DataSet/hep_rp_test.csv")