<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/Part1_b)Generate_Rules_Neg%2BFPGrowth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('/content/breast_train_transactions.txt', header = None, sep="," , names=['a','b','c', 'd', 'e', 'f','g', 'h', 'i', 'k'])

In [4]:
df.head(5)

          a         b           c  ...         h             i      k
0  class@no  a1@30-39  a2@premeno  ...   a7@left   a8@left_low  a9@no
1  class@no  a1@40-49  a2@premeno  ...  a7@right   a8@right_up  a9@no
2  class@no  a1@40-49  a2@premeno  ...   a7@left   a8@left_low  a9@no
3  class@no  a1@60-69     a2@ge40  ...  a7@right    a8@left_up  a9@no
4  class@no  a1@40-49  a2@premeno  ...  a7@right  a8@right_low  a9@no

[5 rows x 10 columns]

In [5]:
import numpy as np
#df['class_col'] = np.where(df.a == 'class@yes','class@no', 'class@yes')

In [6]:
df.head(5)

          a         b           c  ...         h             i      k
0  class@no  a1@30-39  a2@premeno  ...   a7@left   a8@left_low  a9@no
1  class@no  a1@40-49  a2@premeno  ...  a7@right   a8@right_up  a9@no
2  class@no  a1@40-49  a2@premeno  ...   a7@left   a8@left_low  a9@no
3  class@no  a1@60-69     a2@ge40  ...  a7@right    a8@left_up  a9@no
4  class@no  a1@40-49  a2@premeno  ...  a7@right  a8@right_low  a9@no

[5 rows x 10 columns]

In [7]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [8]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object)]

In [9]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [10]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object)]

In [11]:
len(big_list)

10

In [12]:
new_list = list(map(list,big_list))

In [13]:
new_list

[['class@no', 'class@yes'],
 ['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
 ['a2@premeno', 'a2@ge40', 'a2@lt40'],
 ['a3@30-34',
  'a3@20-24',
  'a3@15-19',
  'a3@0-4',
  'a3@25-29',
  'a3@50-54',
  'a3@10-14',
  'a3@40-44',
  'a3@35-39',
  'a3@5-9',
  'a3@45-49'],
 ['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14', 'a4@24-26'],
 ['a5@no', 'a5@yes', 'a5@?'],
 ['a6@3', 'a6@2', 'a6@1'],
 ['a7@left', 'a7@right'],
 ['a8@left_low',
  'a8@right_up',
  'a8@left_up',
  'a8@right_low',
  'a8@central',
  'a8@?'],
 ['a9@no', 'a9@yes']]

In [14]:
from pandas.core.common import flatten

In [15]:
u_list = list(flatten(new_list))

In [16]:
u_list = list(flatten(new_list))

In [17]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [18]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object)]

In [19]:
len(big_list)

10

In [20]:
new_list = list(map(list,big_list))

In [21]:
new_list

[['class@no', 'class@yes'],
 ['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
 ['a2@premeno', 'a2@ge40', 'a2@lt40'],
 ['a3@30-34',
  'a3@20-24',
  'a3@15-19',
  'a3@0-4',
  'a3@25-29',
  'a3@50-54',
  'a3@10-14',
  'a3@40-44',
  'a3@35-39',
  'a3@5-9',
  'a3@45-49'],
 ['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14', 'a4@24-26'],
 ['a5@no', 'a5@yes', 'a5@?'],
 ['a6@3', 'a6@2', 'a6@1'],
 ['a7@left', 'a7@right'],
 ['a8@left_low',
  'a8@right_up',
  'a8@left_up',
  'a8@right_low',
  'a8@central',
  'a8@?'],
 ['a9@no', 'a9@yes']]

In [22]:
from pandas.core.common import flatten

In [23]:
u_list = list(flatten(new_list))

In [24]:
u_list = list(flatten(new_list))

In [25]:
u_list.remove('class@yes')
u_list.remove('class@no')

In [26]:
neg_df = df.apply(lambda x: list(set(u_list) - set(x)), axis=1)

In [27]:
neg_df[0]

['a3@35-39',
 'a3@50-54',
 'a1@50-59',
 'a4@6-8',
 'a3@40-44',
 'a8@right_low',
 'a5@yes',
 'a3@5-9',
 'a1@40-49',
 'a7@right',
 'a3@20-24',
 'a8@left_up',
 'a3@10-14',
 'a4@24-26',
 'a4@9-11',
 'a3@0-4',
 'a4@12-14',
 'a9@yes',
 'a2@ge40',
 'a4@3-5',
 'a8@right_up',
 'a6@2',
 'a8@central',
 'a3@15-19',
 'a2@lt40',
 'a6@1',
 'a3@25-29',
 'a4@15-17',
 'a5@?',
 'a3@45-49',
 'a1@70-79',
 'a8@?',
 'a1@60-69']

In [28]:
sort_order = ['a1@10-19', 'a1@20-29', 'a1@30-39', 'a1@40-49', 'a1@50-59', 'a1@60-69', 'a1@70-79', 'a1@80-89', 'a1@90-99','a1@?',
              'a2@lt40', 'a2@ge40', 'a2@premeno','a2@?',
              'a3@0-4', 'a3@5-9', 'a3@10-14', 'a3@15-19', 'a3@20-24', 'a3@25-29', 'a3@30-34', 'a3@35-39', 'a3@40-44', 'a3@45-49', 'a3@50-54', 'a3@55-59','a3@?',
              'a4@0-2', 'a4@3-5', 'a4@6-8', 'a4@9-11', 'a4@12-14', 'a4@15-17', 'a4@18-20', 'a4@21-23', 'a4@24-26', 'a4@27-29', 'a4@30-32', 'a4@33-35', 'a4@36-39','a4@?',
              'a5@yes', 'a5@no', 'a5@?',
              'a6@1', 'a6@2', 'a6@3','a6@?',
              'a7@left', 'a7@right','a7@?',
              'a8@left_up', 'a8@left_low', 'a8@right_up', 'a8@right_low', 'a8@central','a8@?',
              'a9@yes','a9@no', 'a9@?'
              ]

In [29]:
neg_df_sorted = []
for i in neg_df:
  i = sorted(i, key = lambda x: sort_order.index(x))
  neg_df_sorted.append(i)

In [30]:
neg_df_final = pd.Series((i for i in neg_df_sorted))

In [31]:
neg_df_final

0      [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
1      [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
2      [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
3      [a1@30-39, a1@40-49, a1@50-59, a1@70-79, a2@lt...
4      [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
                             ...
235    [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...
236    [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
237    [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
238    [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
239    [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...
Length: 240, dtype: object

In [32]:
neg_df_final.to_csv("neg_data_sorted_final.txt",index=False, header=False)

In [33]:
neg_df.to_csv("neg_data.txt",index=False)

In [34]:
a = ["[","]","'",'"']
lst = []
with open("/content/neg_data_sorted_final.txt", 'r') as neg_data:
  for line in neg_data:
    for symbol in a:
      if symbol in line:
        line = line.replace(symbol,'')
      if ", " in line:
        line = line.replace(", ", ",")
    lst.append(line)
neg_data.close()
f = open('/content/neg_data_sorted_final.txt','w')
for line in lst:
    f.write(line)
f.close()

In [35]:
new_data = pd.concat([df['a'],neg_df_final],axis=1)

In [36]:
new_data

             a                                                  0
0     class@no  [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
1     class@no  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
2     class@no  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
3     class@no  [a1@30-39, a1@40-49, a1@50-59, a1@70-79, a2@lt...
4     class@no  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
..         ...                                                ...
235  class@yes  [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...
236  class@yes  [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
237  class@yes  [a1@40-49, a1@50-59, a1@60-69, a1@70-79, a2@lt...
238  class@yes  [a1@30-39, a1@50-59, a1@60-69, a1@70-79, a2@lt...
239  class@yes  [a1@30-39, a1@40-49, a1@60-69, a1@70-79, a2@lt...

[240 rows x 2 columns]

In [37]:
new_data.to_csv("neg_data_c.txt",index=False,header=False)

In [38]:
a = ["[","]","'",'"']
lst = []
with open("/content/neg_data_c.txt", 'r') as neg_data:
  for line in neg_data:
    for symbol in a:
      if symbol in line:
        line = line.replace(symbol,'')
      if ", " in line:
        line = line.replace(", ", ",")
    lst.append(line)
neg_data.close()
f = open('/content/neg_data_c.txt','w')
for line in lst:
    f.write(line)
f.close()

Running FP growth on it

In [39]:
import itertools


class FPNode(object):
    """
    A node in the FP tree.
    """

    def __init__(self, value, count, parent):
        """
        Create the node.
        """
        self.value = value
        self.count = count
        self.parent = parent
        self.link = None
        self.children = []

    def has_child(self, value):
        """
        Check if node has a particular child node.
        """
        for node in self.children:
            if node.value == value:
                return True

        return False

    def get_child(self, value):
        """
        Return a child node with a particular value.
        """
        for node in self.children:
            if node.value == value:
                return node

        return None

    def add_child(self, value):
        """
        Add a node as a child node.
        """
        child = FPNode(value, 1, self)
        self.children.append(child)
        return child


class FPTree(object):
    """
    A frequent pattern tree.
    """

    def __init__(self, transactions, threshold, root_value, root_count):
        """
        Initialize the tree.
        """
        self.frequent = self.find_frequent_items(transactions, threshold)
        self.headers = self.build_header_table(self.frequent)
        self.root = self.build_fptree(
            transactions, root_value,
            root_count, self.frequent, self.headers)

    @staticmethod
    def find_frequent_items(transactions, threshold):
        """
        Create a dictionary of items with occurrences above the threshold.
        """
        items = {}

        for transaction in transactions:
            for item in transaction:
                if item in items:
                    items[item] += 1
                else:
                    items[item] = 1

        for key in list(items.keys()):
            if items[key] < threshold:
                del items[key]

        return items

    @staticmethod
    def build_header_table(frequent):
        """
        Build the header table.
        """
        headers = {}
        for key in frequent.keys():
            headers[key] = None

        return headers

    def build_fptree(self, transactions, root_value,
                     root_count, frequent, headers):
        """
        Build the FP tree and return the root node.
        """
        root = FPNode(root_value, root_count, None)

        for transaction in transactions:
            sorted_items = [x for x in transaction if x in frequent]
            sorted_items.sort(key=lambda x: frequent[x], reverse=True)
            if len(sorted_items) > 0:
                self.insert_tree(sorted_items, root, headers)

        return root

    def insert_tree(self, items, node, headers):
        """
        Recursively grow FP tree.
        """
        first = items[0]
        child = node.get_child(first)
        if child is not None:
            child.count += 1
        else:
            # Add new child.
            child = node.add_child(first)

            # Link it to header structure.
            if headers[first] is None:
                headers[first] = child
            else:
                current = headers[first]
                while current.link is not None:
                    current = current.link
                current.link = child

        # Call function recursively.
        remaining_items = items[1:]
        if len(remaining_items) > 0:
            self.insert_tree(remaining_items, child, headers)

    def tree_has_single_path(self, node):
        """
        If there is a single path in the tree,
        return True, else return False.
        """
        num_children = len(node.children)
        if num_children > 1:
            return False
        elif num_children == 0:
            return True
        else:
            return True and self.tree_has_single_path(node.children[0])

    def mine_patterns(self, threshold):
        """
        Mine the constructed FP tree for frequent patterns.
        """
        if self.tree_has_single_path(self.root):
            return self.generate_pattern_list()
        else:
            return self.zip_patterns(self.mine_sub_trees(threshold))

    def zip_patterns(self, patterns):
        """
        Append suffix to patterns in dictionary if
        we are in a conditional FP tree.
        """
        suffix = self.root.value

        if suffix is not None:
            # We are in a conditional tree.
            new_patterns = {}
            for key in patterns.keys():
                new_patterns[tuple(sorted(list(key) + [suffix]))] = patterns[key]

            return new_patterns

        return patterns

    def generate_pattern_list(self):
        """
        Generate a list of patterns with support counts.
        """
        patterns = {}
        items = self.frequent.keys()

        # If we are in a conditional tree,
        # the suffix is a pattern on its own.
        if self.root.value is None:
            suffix_value = []
        else:
            suffix_value = [self.root.value]
            patterns[tuple(suffix_value)] = self.root.count

        for i in range(1, len(items) + 1):
            for subset in itertools.combinations(items, i):
                pattern = tuple(sorted(list(subset) + suffix_value))
                patterns[pattern] = \
                    min([self.frequent[x] for x in subset])

        return patterns

    def mine_sub_trees(self, threshold):
        """
        Generate subtrees and mine them for patterns.
        """
        patterns = {}
        mining_order = sorted(self.frequent.keys(),
                              key=lambda x: self.frequent[x])

        # Get items in tree in reverse order of occurrences.
        for item in mining_order:
            suffixes = []
            conditional_tree_input = []
            node = self.headers[item]

            # Follow node links to get a list of
            # all occurrences of a certain item.
            while node is not None:
                suffixes.append(node)
                node = node.link

            # For each occurrence of the item, 
            # trace the path back to the root node.
            for suffix in suffixes:
                frequency = suffix.count
                path = []
                parent = suffix.parent

                while parent.parent is not None:
                    path.append(parent.value)
                    parent = parent.parent

                for i in range(frequency):
                    conditional_tree_input.append(path)

            # Now we have the input for a subtree,
            # so construct it and grab the patterns.
            subtree = FPTree(conditional_tree_input, threshold,
                             item, self.frequent[item])
            subtree_patterns = subtree.mine_patterns(threshold)

            # Insert subtree patterns into main patterns dictionary.
            for pattern in subtree_patterns.keys():
                if pattern in patterns:
                    patterns[pattern] += subtree_patterns[pattern]
                else:
                    patterns[pattern] = subtree_patterns[pattern]

        return patterns


def find_frequent_patterns(transactions, support_threshold):
    """
    Given a set of transactions, find the patterns in it
    over the specified support threshold.
    """
    tree = FPTree(transactions, support_threshold, None, None)
    return tree.mine_patterns(support_threshold)


def generate_association_rules(patterns, confidence_threshold):
    """
    Given a set of frequent itemsets, return a dict
    of association rules in the form
    {(left): ((right), confidence)}
    """
    rules = {}
    for itemset in patterns.keys():
        upper_support = patterns[itemset]

        for i in range(1, len(itemset)):
            for antecedent in itertools.combinations(itemset, i):
                antecedent = tuple(sorted(antecedent))
                consequent = tuple(sorted(set(itemset) - set(antecedent)))

                if antecedent in patterns:
                    lower_support = patterns[antecedent]
                    confidence = float(upper_support) / lower_support

                    if confidence >= confidence_threshold:
                        rules[antecedent] = (consequent, confidence)

    return rules

In [40]:
import pandas as pd
df = pd.read_csv('/content/neg_data_c.txt', header = None, sep=",")

In [41]:
df.head(5)

         0         1         2   ...          31    32      33
0  class@no  a1@40-49  a1@50-59  ...  a8@central  a8@?  a9@yes
1  class@no  a1@30-39  a1@50-59  ...  a8@central  a8@?  a9@yes
2  class@no  a1@30-39  a1@50-59  ...  a8@central  a8@?  a9@yes
3  class@no  a1@30-39  a1@40-49  ...  a8@central  a8@?  a9@yes
4  class@no  a1@30-39  a1@50-59  ...  a8@central  a8@?  a9@yes

[5 rows x 34 columns]

In [42]:
trans = df.values.tolist()

In [ ]:
patterns = find_frequent_patterns(trans, .8)

In [ ]:
patterns

In [ ]:
#writing patterns
with open('fp_growth_neg_freqpatterns', 'w') as f:
  for key, value in patterns.items():
      lhs= [''.join(map(str, x)) for x in key]
      rhs=value
      print(lhs,":",rhs,file=f)

In [ ]:
rules = generate_association_rules(patterns, 0.8)

In [ ]:
with open('fpgrowth_out_neg.txt', 'w') as f:
    print(rules, file=f)