<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/RPP_processing_Cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import csv

Checking common line

In [4]:
min_support = np.arange(0.01, .11, 0.01)
min_support

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ])

In [6]:
for i in (min_support):
  print(round(i,2))
  print(str(round(i,2)).replace('0.', ''))

0.01
01
0.02
02
0.03
03
0.04
04
0.05
05
0.06
06
0.07
07
0.08
08
0.09
09
0.1
1

In [12]:
def common_itemsets(file1, file2):


        f_csv_1 = open(file1)
        f_csv_2 = open(file2)

        #print(f_csv_1)

        csv_1 = [line.rstrip() for line in f_csv_1.readlines()]
        csv_2 = [line.rstrip() for line in f_csv_2.readlines()]

        #print(csv_1)
        #print(csv_2)

        f_csv_1.close()
        f_csv_2.close()

        #print(set(csv_1))
        #print(set(csv_2))

        intersection = list(set(csv_1) & set(csv_2))
        
        #print(intersection)


        out_1 = open(d+"intersection.csv", "w")

        for row in intersection:
              #print(row)
              out_1.write("%s\n" % row)
        out_1.close()

In [8]:
d = "/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/"
for i in min_support:

      file_to_process = d+"output"+str(round(i,2)).replace('0.', '')+".txt"
        #removing sup from rpp file
      f = open(file_to_process,'r')
      lst = []
      for line in f:
        line  = line.split("SUP", 1)
        
        line  = line[0]
        lst.append(line)
      f.close()
      f = open(file_to_process,'w')
      for line in lst:
          f.write(line+'\n')
      f.close()

          #removing sup
      f = open(file_to_process,'r')
      lst = []
      for line in f:
        line  = line.split("#", 1)

        line  = line[0]
        lst.append(line)
      f.close()
      
      f = open(file_to_process,'w')
      for line in lst:
        f.write(line+'\n')
      f.close()

In [14]:
open(d+"intersection.csv", 'a').close()
for i in min_support:
  
  print(round(i,2))
  
  file1 = d+"intersection.csv"

  file2 = d+"output"+str(round(i,2)).replace('0.', '')+".txt"

  if os.stat(file1).st_size == 0:
    file1 = d+"output"+str(round(i,2)).replace('0.', '')+".txt"
  
  print(file1)
  print(file2)
  common_itemsets(file1, file2)

0.01
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output01.txt
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output01.txt
0.02
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output02.txt
0.03
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output03.txt
0.04
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output04.txt
0.05
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output05.txt
0.06
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output06.txt
0.07
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output07.txt
0.08
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output08.txt
0.09
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output09.txt
0.1
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv
/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/output1.txt

In [15]:
print("Done generating common itemsets")

Done generating common itemsets

Getting key of original dataset

In [68]:
originalfile = "/content/drive/MyDrive/DataSets_for_Paper/bcancer_data_original.csv" #reading original file

In [69]:
df = pd.read_csv(originalfile)

In [70]:
#removing index column
cols = [0]
df.drop(df.columns[cols],axis=1,inplace=True)

In [71]:
for i,n in enumerate(df.columns):
  if n=='class':
    df[n] = 'class@' + df[n].astype(str)
  else:
    df[n] = 'A'+str(i)+'@' + df[n].astype(str)

In [72]:
uni = pd.DataFrame()
for col in df:
    uni= pd.concat([uni, pd.DataFrame(df[col].unique())], ignore_index=True)

In [73]:
uni

                             0
0   class@no-recurrence-events
1      class@recurrence-events
2                     A1@30-39
3                     A1@40-49
4                     A1@60-69
5                     A1@50-59
6                     A1@70-79
7                     A1@20-29
8                   A2@premeno
9                      A2@ge40
10                     A2@lt40
11                    A3@30-34
12                    A3@20-24
13                    A3@15-19
14                      A3@0-4
15                    A3@25-29
16                    A3@50-54
17                    A3@10-14
18                    A3@40-44
19                    A3@35-39
20                      A3@5-9
21                    A3@45-49
22                      A4@0-2
23                      A4@6-8
24                     A4@9-11
25                      A4@3-5
26                    A4@15-17
27                    A4@12-14
28                    A4@24-26
29                       A5@no
30                      A5@yes
31                        A5@?
32                        A6@3
33                        A6@2
34                        A6@1
35                     A7@left
36                    A7@right
37                 A8@left_low
38                 A8@right_up
39                  A8@left_up
40                A8@right_low
41                  A8@central
42                        A8@?
43                       A9@no
44                      A9@yes

In [74]:
my_dict = uni.to_dict()

In [75]:
my_dict

{0: {0: 'class@no-recurrence-events',
  1: 'class@recurrence-events',
  2: 'A1@30-39',
  3: 'A1@40-49',
  4: 'A1@60-69',
  5: 'A1@50-59',
  6: 'A1@70-79',
  7: 'A1@20-29',
  8: 'A2@premeno',
  9: 'A2@ge40',
  10: 'A2@lt40',
  11: 'A3@30-34',
  12: 'A3@20-24',
  13: 'A3@15-19',
  14: 'A3@0-4',
  15: 'A3@25-29',
  16: 'A3@50-54',
  17: 'A3@10-14',
  18: 'A3@40-44',
  19: 'A3@35-39',
  20: 'A3@5-9',
  21: 'A3@45-49',
  22: 'A4@0-2',
  23: 'A4@6-8',
  24: 'A4@9-11',
  25: 'A4@3-5',
  26: 'A4@15-17',
  27: 'A4@12-14',
  28: 'A4@24-26',
  29: 'A5@no',
  30: 'A5@yes',
  31: 'A5@?',
  32: 'A6@3',
  33: 'A6@2',
  34: 'A6@1',
  35: 'A7@left',
  36: 'A7@right',
  37: 'A8@left_low',
  38: 'A8@right_up',
  39: 'A8@left_up',
  40: 'A8@right_low',
  41: 'A8@central',
  42: 'A8@?',
  43: 'A9@no',
  44: 'A9@yes'}}

In [76]:
my_dict = my_dict[0]

In [77]:
new_dict = dict((value, key) for key, value in my_dict.items())

In [78]:
new_dict

{'A1@20-29': 7,
 'A1@30-39': 2,
 'A1@40-49': 3,
 'A1@50-59': 5,
 'A1@60-69': 4,
 'A1@70-79': 6,
 'A2@ge40': 9,
 'A2@lt40': 10,
 'A2@premeno': 8,
 'A3@0-4': 14,
 'A3@10-14': 17,
 'A3@15-19': 13,
 'A3@20-24': 12,
 'A3@25-29': 15,
 'A3@30-34': 11,
 'A3@35-39': 19,
 'A3@40-44': 18,
 'A3@45-49': 21,
 'A3@5-9': 20,
 'A3@50-54': 16,
 'A4@0-2': 22,
 'A4@12-14': 27,
 'A4@15-17': 26,
 'A4@24-26': 28,
 'A4@3-5': 25,
 'A4@6-8': 23,
 'A4@9-11': 24,
 'A5@?': 31,
 'A5@no': 29,
 'A5@yes': 30,
 'A6@1': 34,
 'A6@2': 33,
 'A6@3': 32,
 'A7@left': 35,
 'A7@right': 36,
 'A8@?': 42,
 'A8@central': 41,
 'A8@left_low': 37,
 'A8@left_up': 39,
 'A8@right_low': 40,
 'A8@right_up': 38,
 'A9@no': 43,
 'A9@yes': 44,
 'class@no-recurrence-events': 0,
 'class@recurrence-events': 1}

Reading common file

In [79]:
rpp_process = pd.read_csv("/content/drive/MyDrive/BreastCancer_Dataset1202/RPP/intersection.csv", header=None, names=["itemsets"],index_col=False)

In [80]:
rpp_process

        itemsets
0           5 29
1       39 35 22
2        9 33 29
3         39 9 0
4       11 43 29
..           ...
644    33 36 8 0
645         4 29
646  3 8 0 43 29
647     32 22 29
648   33 36 0 43

[649 rows x 1 columns]

In [81]:
temp_df = pd.concat([rpp_process[['itemsets']], rpp_process['itemsets'].str.split(' ', expand=True)], axis=1
                  )

In [82]:
temp_df=temp_df.drop('itemsets', axis=1)

In [83]:
temp_df

      0   1     2     3     4     5
0     5  29  None  None  None  None
1    39  35    22  None  None  None
2     9  33    29  None  None  None
3    39   9     0  None  None  None
4    11  43    29  None  None  None
..   ..  ..   ...   ...   ...   ...
644  33  36     8     0  None  None
645   4  29  None  None  None  None
646   3   8     0    43    29  None
647  32  22    29  None  None  None
648  33  36     0    43  None  None

[649 rows x 6 columns]

In [ ]:
#for class , moving the class column as first
with open("/content/temp_file.csv", 'w') as f:
      for row in temp_df.itertuples(index=False):
          print(row)
          ls = list(row)
          ls = [x for x in ls if x]
          try:
            if '0' or '1' in ls:
                  old_index = ls.index('0') if '0' in ls else ls.index('1')
                  #print("old_index", old_index)
                  
                  ls.insert(0, ls.pop(old_index))
                  #print("after row", ls)
                  f.write(str(ls)+'\n')
          except ValueError:
            pass

In [85]:
#taking longest of sequence, checking for superset
import os
from ast import literal_eval

def parse_input(filename):
    with open(filename) as f:
        data = [set(literal_eval(line)) for line in f]
    return data

def compute_output(output_file, data, filter_value):
    ls = data
    index_to_pop=[]
    for set1 in ls:
      #print("set1", set1)
      for set2 in ls:
          if set1 is set2:
              # Do not try to compare a row with itself
              continue
          elif len(set(set1).difference(set(set2))) == 0:
                if set1 in ls:
                  index = ls.index(set1)
                  index_to_pop.append(index)

                  break
    #print("Final index_to_pop",index_to_pop)              
    for index in sorted(index_to_pop, reverse=True):
        del ls[index]           
    #print("Final list",ls)

    f = open('/content/superset.csv','w')
    for line in ls:
      f.write(str(line)+'\n')
    f.close()

def filter_file(path, filter_value=3, in_name='temp_file.csv', out_name='filteredSets'):
    data = parse_input(os.path.join(path, in_name))
    print("data", data)
    output_filename = os.path.join(path, '{}{}'.format(out_name, filter_value))
    with open(output_filename, 'w') as out_file:
        compute_output(out_file, data, filter_value)

filter_file('/content')

data [{'0', '39', '9'}, {'0', '33', '36'}, {'0', '9', '29', '36', '43'}, {'0', '36', '9', '43'}, {'0', '33', '35'}, {'0', '35'}, {'8', '1'}, {'0', '36', '29'}, {'0', '9', '43', '4'}, {'0', '22', '32'}, {'0', '8', '29', '36', '43'}, {'0', '8', '29', '36', '3'}, {'0', '3', '29'}, {'0', '3', '43', '29'}, {'22', '34', '0', '9', '29'}, {'0', '39'}, {'0', '37'}, {'0', '36', '43', '8'}, {'0', '5', '35', '29'}, {'0', '9', '29', '37'}, {'0', '36', '9', '29'}, {'0', '22', '9', '35'}, {'0', '43', '11'}, {'0', '43', '4', '29'}, {'0', '33', '9', '22'}, {'22', '0', '39', '29', '36'}, {'22', '0', '35', '9', '29', '43'}, {'5', '0', '35', '29', '43'}, {'0', '22', '8'}, {'0', '22', '9', '29'}, {'22', '43', '1'}, {'22', '37', '0', '29', '33'}, {'0', '33', '3', '22'}, {'22', '0', '35', '9', '43'}, {'22', '0', '8', '43', '3'}, {'0', '5', '43', '9'}, {'0', '36', '43'}, {'0', '22', '3'}, {'22', '0', '9', '29', '43'}, {'0', '22', '39', '9'}, {'0', '33', '9', '43'}, {'0', '34', '43', '35'}, {'0', '5', '29'}, {'37', '0', '9', '29', '43'}, {'0', '22', '34', '29'}, {'0', '33', '43'}, {'0', '29', '8', '37'}, {'22', '1'}, {'0', '34', '29'}, {'0', '5', '43'}, {'0', '12'}, {'0', '9', '4'}, {'0', '33', '3', '29'}, {'0', '5', '9', '29'}, {'0', '22', '5', '35'}, {'22', '5', '0', '35', '29', '43'}, {'0', '9', '4', '29'}, {'0', '22', '3', '43'}, {'0', '22', '34', '43'}, {'0', '36', '8', '29'}, {'0', '36', '39'}, {'0', '36', '39', '29'}, {'22', '0', '39', '9', '29'}, {'0', '22', '4'}, {'0', '22', '43', '37'}, {'0', '33', '9', '29'}, {'0', '39', '8'}, {'0', '33', '43', '37'}, {'0', '22', '36', '29'}, {'0', '3'}, {'22', '5', '0', '35', '43'}, {'0', '5', '43', '29'}, {'0', '35', '9', '29', '43'}, {'0', '9', '35'}, {'43', '29', '1'}, {'0', '3', '43'}, {'0', '9', '43', '29'}, {'0', '39', '29'}, {'0', '22', '3', '29'}, {'22', '0', '35', '29', '33', '43'}, {'0', '39', '43', '9'}, {'0', '33', '9'}, {'0', '22', '39'}, {'36', '1'}, {'0', '8', '37'}, {'0', '33', '43', '35'}, {'22', '0', '9', '29', '33'}, {'22', '37', '0', '35', '29'}, {'22', '5', '0', '9', '43'}, {'0', '36', '3', '8'}, {'0', '22', '5', '9'}, {'0', '33', '22', '29'}, {'0', '43', '29', '37'}, {'22', '34', '0', '35', '29'}, {'0', '22', '36', '9'}, {'22', '5', '0', '9', '29', '43'}, {'22', '0', '8', '29', '3'}, {'0', '34', '43', '29'}, {'43', '8', '1'}, {'0', '33', '8'}, {'22', '5', '0', '35', '29'}, {'0', '5', '37'}, {'0', '36'}, {'0', '4', '29'}, {'22', '5', '0', '9', '29'}, {'22', '0', '8', '29', '36'}, {'22', '34', '0', '35', '29', '43'}, {'0', '33', '43', '29'}, {'0', '33', '3', '8'}, {'0', '36', '9'}, {'0', '36', '43', '29'}, {'0', '32'}, {'35', '1'}, {'0', '29', '35', '37'}, {'22', '0', '29', '43', '3'}, {'22', '4', '0', '9', '29'}, {'0', '3', '8', '29'}, {'22', '37', '0', '29', '43'}, {'22', '34', '0', '9', '43'}, {'34', '0', '35', '29', '43'}, {'22', '0', '29', '33', '43'}, {'0', '22', '3', '8'}, {'22', '0', '9', '36', '43'}, {'0', '39', '43'}, {'0', '12', '43'}, {'0', '33', '3'}, {'0', '22', '35', '8'}, {'0', '35', '37'}, {'0', '39', '9', '29'}, {'0', '9', '43'}, {'22', '0', '35', '33', '43'}, {'0', '33', '22', '8'}, {'44', '1'}, {'0', '9', '35', '29'}, {'22', '5', '0', '29', '43'}, {'9', '1'}, {'0', '9', '29'}, {'0', '22', '36', '43'}, {'0', '33', '29', '37'}, {'0', '33', '37'}, {'22', '0', '29', '36', '33', '43'}, {'0', '33', '36', '22'}, {'0', '22', '37'}, {'0', '22', '8', '37'}, {'22', '34', '0', '29', '43'}, {'0', '8'}, {'0', '9', '43', '37'}, {'0', '34', '43'}, {'0', '34', '35', '29'}, {'0', '22', '39', '43'}, {'1'}, {'0', '22', '5'}, {'0', '43', '35', '37'}, {'0', '36', '39', '43'}, {'37', '1'}, {'0', '22', '34'}, {'0', '12', '29'}, {'0', '34'}, {'0', '8', '29', '33', '43'}, {'0', '22', '36'}, {'0', '33', '22'}, {'34', '0', '9', '29', '43'}, {'29', '1'}, {'0', '36', '5', '43'}, {'0', '22', '43', '4'}, {'22', '0', '9', '29', '36', '43'}, {'0', '34', '9'}, {'22', '34', '0', '9', '29', '43'}, {'0', '22', '39', '29'}, {'0', '34', '43', '9'}, {'0', '33', '36', '29'}, {'22', '0', '29', '36', '33'}, {'0', '9', '37'}, {'0', '22', '43', '8'}, {'0', '11'}, {'0', '34', '35'}, {'22', '0', '35', '9', '29'}, {'22', '34', '0', '35', '43'}, {'22', '43', '29', '1'}, {'0', '22', '36', '39'}, {'22', '37', '0', '9', '29'}, {'22', '0', '8', '29', '43', '3'}, {'0', '22', '5', '43'}, {'0', '9', '43', '35'}, {'0', '34', '9', '29'}, {'0', '44'}, {'0', '8', '29', '33', '3'}, {'0', '5', '43', '35'}, {'0', '3', '43', '8'}, {'22', '0', '9', '29', '36'}, {'0', '33', '22', '43'}, {'22', '0', '8', '29', '36', '43'}, {'32', '1'}, {'0', '33', '29'}, {'22', '0', '8', '33', '43'}, {'22', '0', '8', '29', '33'}, {'0', '33', '22', '37'}, {'0', '22', '34', '9'}, {'0', '36', '3', '29'}, {'0', '5', '9'}, {'0', '22', '9'}, {'22', '0', '35', '29', '33'}, {'0', '43', '37'}, {'22', '0', '8', '36', '43'}, {'0', '33', '35', '29'}, {'0', '22', '5', '29'}, {'0', '33', '43', '8'}, {'43', '1'}, {'22', '29', '1'}, {'37', '0', '35', '29', '43'}, {'22', '4', '0', '29', '43'}, {'0', '22', '29', '37'}, {'0', '33', '22', '35'}, {'0', '36', '8'}, {'0', '35', '8'}, {'22', '0', '39', '29', '43'}, {'22', '0', '8', '29', '33', '43'}, {'0', '9'}, {'0', '29', '36', '33', '43'}, {'22', '37', '0', '8', '29'}, {'0', '43', '32'}, {'0', '35', '29', '33', '43'}, {'0', '33', '39'}, {'0', '36', '5'}, {'30', '1'}, {'0', '5', '35'}, {'0', '32', '29'}, {'0', '33', '5'}, {'0', '22', '36', '8'}, {'22', '0', '35', '8', '43'}, {'0', '22', '9', '4'}, {'0', '22', '9', '37'}, {'0', '36', '3'}, {'22', '37', '0', '35', '29', '43'}, {'0', '33'}, {'0', '39', '43', '29'}, {'0', '35', '43', '8'}, {'8', '29', '1'}, {'0', '15'}, {'0', '22', '4', '29'}, {'0', '15', '22'}, {'0', '43', '8'}, {'22', '37', '0', '35', '43'}, {'0', '5'}, {'22', '0', '36', '33', '43'}, {'0', '29', '37'}, {'5', '0', '9', '29', '43'}, {'0', '43', '4'}, {'0', '4'}, {'0', '3', '8'}, {'22', '0', '29', '36', '43'}, {'0', '22', '35', '37'}, {'0', '33', '8', '29'}, {'0', '22', '9', '43'}, {'0', '22', '34', '35'}, {'22', '8', '1'}, {'0', '33', '36', '8'}, {'0', '8', '29', '43', '3'}, {'0', '33', '36', '43'}]

In [86]:
#for class 
with open("/content/superset.csv", 'w') as f:
      for row in temp_df.itertuples(index=False):
          ls = list(row)
          ls = [x for x in ls if x]
          try:
            if '0' or '1' in ls:
                  old_index = ls.index('0') if '0' in ls else ls.index('1')
                  #print("old_index", old_index)
                  
                  ls.insert(0, ls.pop(old_index))
                  #print("after row", ls)
                  f.write(str(ls)+'\n')
          except ValueError:
            pass

In [87]:
with open('/content/superset.csv') as filein, open('/content/superset_final.csv','w') as fileout:
    for line in filein:
        line=line.replace("'","")
        line=line.replace("}","")
        line=line.replace("{","")
        line=line.replace(", "," ")
        fileout.write(line)

In [88]:
with open('/content/superset_final.csv') as filein, open('/content/superset_final_v1.csv','w') as fileout:
    for line in filein:
        line=line.replace("[","")
        line=line.replace("]","")
        fileout.write(line)

In [89]:
superset = pd.read_csv("/content/superset_final_v1.csv",header=None, names=["itemsets"],index_col=False)
superset

         itemsets
0          0 39 9
1         0 33 36
2    0 9 36 43 29
3       0 9 36 43
4         0 33 35
..            ...
254    0 34 35 22
255        1 8 22
256     0 33 36 8
257   0 3 8 43 29
258    0 33 36 43

[259 rows x 1 columns]

In [90]:
superset_df = pd.concat([superset[['itemsets']], superset['itemsets'].str.split(' ', expand=True)], axis=1
                  )

In [91]:
superset_df.to_csv("superset_df.csv", header=None, index=False)

In [92]:
superset_df = superset_df.loc[superset_df.iloc[:,1].isin(['1','0'])] #filtering rows

In [93]:
superset_df

         itemsets  0   1   2     3     4     5
0          0 39 9  0  39   9  None  None  None
1         0 33 36  0  33  36  None  None  None
2    0 9 36 43 29  0   9  36    43    29  None
3       0 9 36 43  0   9  36    43  None  None
4         0 33 35  0  33  35  None  None  None
..            ... ..  ..  ..   ...   ...   ...
254    0 34 35 22  0  34  35    22  None  None
255        1 8 22  1   8  22  None  None  None
256     0 33 36 8  0  33  36     8  None  None
257   0 3 8 43 29  0   3   8    43    29  None
258    0 33 36 43  0  33  36    43  None  None

[259 rows x 7 columns]

In [94]:
superset_df=superset_df.drop('itemsets', axis=1)

In [95]:
superset_df

     0   1   2     3     4     5
0    0  39   9  None  None  None
1    0  33  36  None  None  None
2    0   9  36    43    29  None
3    0   9  36    43  None  None
4    0  33  35  None  None  None
..  ..  ..  ..   ...   ...   ...
254  0  34  35    22  None  None
255  1   8  22  None  None  None
256  0  33  36     8  None  None
257  0   3   8    43    29  None
258  0  33  36    43  None  None

[259 rows x 6 columns]

In [97]:
superset_df.columns = ['a', 'b', 'c', 'd', 'e', 'f']

In [98]:
#concat @ to tempdf
for i,n in enumerate(superset_df.columns):
  
    superset_df[n] = '@' + superset_df[n].astype(str)

In [99]:
superset_df['a'].value_counts()

@0    240
@1     19
Name: a, dtype: int64

In [100]:
superset_df

      a    b    c      d      e      f
0    @0  @39   @9  @None  @None  @None
1    @0  @33  @36  @None  @None  @None
2    @0   @9  @36    @43    @29  @None
3    @0   @9  @36    @43  @None  @None
4    @0  @33  @35  @None  @None  @None
..   ..  ...  ...    ...    ...    ...
254  @0  @34  @35    @22  @None  @None
255  @1   @8  @22  @None  @None  @None
256  @0  @33  @36     @8  @None  @None
257  @0   @3   @8    @43    @29  @None
258  @0  @33  @36    @43  @None  @None

[259 rows x 6 columns]

In [101]:
di = {f'@{k}': v for k, v in my_dict.items()}

In [102]:
di

{'@0': 'class@no-recurrence-events',
 '@1': 'class@recurrence-events',
 '@10': 'A2@lt40',
 '@11': 'A3@30-34',
 '@12': 'A3@20-24',
 '@13': 'A3@15-19',
 '@14': 'A3@0-4',
 '@15': 'A3@25-29',
 '@16': 'A3@50-54',
 '@17': 'A3@10-14',
 '@18': 'A3@40-44',
 '@19': 'A3@35-39',
 '@2': 'A1@30-39',
 '@20': 'A3@5-9',
 '@21': 'A3@45-49',
 '@22': 'A4@0-2',
 '@23': 'A4@6-8',
 '@24': 'A4@9-11',
 '@25': 'A4@3-5',
 '@26': 'A4@15-17',
 '@27': 'A4@12-14',
 '@28': 'A4@24-26',
 '@29': 'A5@no',
 '@3': 'A1@40-49',
 '@30': 'A5@yes',
 '@31': 'A5@?',
 '@32': 'A6@3',
 '@33': 'A6@2',
 '@34': 'A6@1',
 '@35': 'A7@left',
 '@36': 'A7@right',
 '@37': 'A8@left_low',
 '@38': 'A8@right_up',
 '@39': 'A8@left_up',
 '@4': 'A1@60-69',
 '@40': 'A8@right_low',
 '@41': 'A8@central',
 '@42': 'A8@?',
 '@43': 'A9@no',
 '@44': 'A9@yes',
 '@5': 'A1@50-59',
 '@6': 'A1@70-79',
 '@7': 'A1@20-29',
 '@8': 'A2@premeno',
 '@9': 'A2@ge40'}

In [103]:
for col in superset_df:
    superset_df[col] = superset_df[col].replace(di)

In [104]:
superset_df

                              a           b  ...      e      f
0    class@no-recurrence-events  A8@left_up  ...  @None  @None
1    class@no-recurrence-events        A6@2  ...  @None  @None
2    class@no-recurrence-events     A2@ge40  ...  A5@no  @None
3    class@no-recurrence-events     A2@ge40  ...  @None  @None
4    class@no-recurrence-events        A6@2  ...  @None  @None
..                          ...         ...  ...    ...    ...
254  class@no-recurrence-events        A6@1  ...  @None  @None
255     class@recurrence-events  A2@premeno  ...  @None  @None
256  class@no-recurrence-events        A6@2  ...  @None  @None
257  class@no-recurrence-events    A1@40-49  ...  A5@no  @None
258  class@no-recurrence-events        A6@2  ...  @None  @None

[259 rows x 6 columns]

In [105]:
superset_df['rules'] = superset_df['b']+','+superset_df['c']+','+superset_df['d']+','+superset_df['e']+','+superset_df['f']
#+">class@"+temp_df['a']

In [106]:
superset_df['pos'] = superset_df['rules'].str.find('@None')
superset_df['rules'] = superset_df.apply(lambda x: x['rules'][0:x['pos']],axis=1)
superset_df['rules'] = superset_df['rules']+">"+superset_df['a']
superset_df['rules'] = superset_df['rules'].str.replace(',@,','')
superset_df['rules'] = superset_df['rules'].str.replace(',>','>')

In [107]:
superset_df['rules']

0          A8@left_up,A2@ge40>class@no-recurrence-events
1               A6@2,A7@right>class@no-recurrence-events
2      A2@ge40,A7@right,A9@no,A5@no>class@no-recurren...
3      A2@ge40,A7@right,A9@no>class@no-recurrence-events
4                A6@2,A7@left>class@no-recurrence-events
                             ...
254       A6@1,A7@left,A4@0-2>class@no-recurrence-events
255            A2@premeno,A4@0-2>class@recurrence-events
256    A6@2,A7@right,A2@premeno>class@no-recurrence-e...
257    A1@40-49,A2@premeno,A9@no,A5@no>class@no-recur...
258       A6@2,A7@right,A9@no>class@no-recurrence-events
Name: rules, Length: 259, dtype: object

In [113]:
superset_df['rules'].to_csv(d+"cancer_rpp_rules_common.csv", header=None, index=False)
#for classifer file
superset_df['rules'].to_csv(d+"cancer_rpp_rules_common_classifier.csv", header=None, index=False)

Converting unexpected rules to original attributes

In [114]:
mapping = {
    
    'A0':'class'
    ,'A1':'AGE'
    ,'A2':'menopause'
    ,'A3':'tumor-size'
    ,'A4':'inv-nodes'
    ,'A5':'node-caps'
    ,'A6':'deg-malig'
    ,'A7':'breast'
    ,'A8':'breast-quad'
    ,'A9':'irradiat'
           
           }

In [115]:
import fileinput

text = d+"cancer_rpp_rules_common.csv"
fields = mapping

lst = []
for line in fileinput.input(text):
    for field in fields:
        if field in line:
            line = line.replace(field, fields[field])
    lst.append(line)

print(lst)

['"breast-quad@left_up,menopause@ge40>class@no-recurrence-events"\n', '"deg-malig@2,breast@right>class@no-recurrence-events"\n', '"menopause@ge40,breast@right,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@right,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@left>class@no-recurrence-events"\n', 'breast@left>class@no-recurrence-events\n', 'menopause@premeno>class@recurrence-events\n', '"breast@right,node-caps@no>class@no-recurrence-events"\n', '"AGE@60-69,menopause@ge40,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@3,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast@right,menopause@premeno,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,breast@right,menopause@premeno,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', 'breast-quad@left_up>class@no-recurrence-events\n', 'breast-quad@left_low>class@no-recurrence-events\n', '"breast@right,menopause@premeno,irradiat@no>class@no-recurrence-events"\n', '"AGE@50-59,breast@left,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@ge40,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@right,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@left,inv-nodes@0-2>class@no-recurrence-events"\n', '"tumor-size@30-34,irradiat@no>class@no-recurrence-events"\n', '"AGE@60-69,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,deg-malig@2,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_up,breast@right,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@left,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"AGE@50-59,breast@left,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"menopause@premeno,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@ge40,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"inv-nodes@0-2,irradiat@no>class@recurrence-events"\n', '"breast-quad@left_low,deg-malig@2,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,deg-malig@2,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@ge40,breast@left,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"AGE@40-49,menopause@premeno,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40,irradiat@no>class@no-recurrence-events"\n', '"breast@right,irradiat@no>class@no-recurrence-events"\n', '"AGE@40-49,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@ge40,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_up,menopause@ge40,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@ge40,deg-malig@2,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@1,breast@left,irradiat@no>class@no-recurrence-events"\n', '"AGE@50-59,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@ge40,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,irradiat@no>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@premeno,node-caps@no>class@no-recurrence-events"\n', 'inv-nodes@0-2>class@recurrence-events\n', '"deg-malig@1,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,irradiat@no>class@no-recurrence-events"\n', 'tumor-size@20-24>class@no-recurrence-events\n', '"AGE@60-69,menopause@ge40>class@no-recurrence-events"\n', '"AGE@40-49,deg-malig@2,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,breast@left,inv-nodes@0-2>class@no-recurrence-events"\n', '"AGE@50-59,breast@left,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"AGE@60-69,menopause@ge40,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@1,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"breast@right,menopause@premeno,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_up,breast@right>class@no-recurrence-events"\n', '"breast-quad@left_up,breast@right,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_up,menopause@ge40,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"AGE@60-69,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_low,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"menopause@ge40,deg-malig@2,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_up,menopause@premeno>class@no-recurrence-events"\n', '"breast-quad@left_low,deg-malig@2,irradiat@no>class@no-recurrence-events"\n', '"breast@right,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', 'AGE@40-49>class@no-recurrence-events\n', '"AGE@50-59,breast@left,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"AGE@50-59,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@left,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@left>class@no-recurrence-events"\n', '"irradiat@no,node-caps@no>class@recurrence-events"\n', '"AGE@40-49,irradiat@no>class@no-recurrence-events"\n', '"menopause@ge40,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_up,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@left,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"breast-quad@left_up,menopause@ge40,irradiat@no>class@no-recurrence-events"\n', '"menopause@ge40,deg-malig@2>class@no-recurrence-events"\n', '"breast-quad@left_up,inv-nodes@0-2>class@no-recurrence-events"\n', 'breast@right>class@recurrence-events\n', '"breast-quad@left_low,menopause@premeno>class@no-recurrence-events"\n', '"deg-malig@2,breast@left,irradiat@no>class@no-recurrence-events"\n', '"menopause@ge40,deg-malig@2,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,breast@left,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"AGE@40-49,breast@right,menopause@premeno>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40,inv-nodes@0-2>class@no-recurrence-events"\n', '"deg-malig@2,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,breast@left,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@right,inv-nodes@0-2>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"AGE@40-49,menopause@premeno,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"menopause@premeno,irradiat@no>class@recurrence-events"\n', '"deg-malig@2,menopause@premeno>class@no-recurrence-events"\n', '"AGE@50-59,breast@left,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,breast-quad@left_low>class@no-recurrence-events"\n', 'breast@right>class@no-recurrence-events\n', '"AGE@60-69,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"breast@right,menopause@premeno,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,breast@left,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"deg-malig@2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,deg-malig@2,menopause@premeno>class@no-recurrence-events"\n', '"menopause@ge40,breast@right>class@no-recurrence-events"\n', '"breast@right,irradiat@no,node-caps@no>class@no-recurrence-events"\n', 'deg-malig@3>class@no-recurrence-events\n', 'breast@left>class@recurrence-events\n', '"breast-quad@left_low,breast@left,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"AGE@60-69,menopause@ge40,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,menopause@premeno,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@1,breast@left,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,menopause@premeno,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@ge40,breast@right,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"breast-quad@left_up,irradiat@no>class@no-recurrence-events"\n', '"tumor-size@20-24,irradiat@no>class@no-recurrence-events"\n', '"AGE@40-49,deg-malig@2>class@no-recurrence-events"\n', '"menopause@premeno,breast@left,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_low,breast@left>class@no-recurrence-events"\n', '"breast-quad@left_up,menopause@ge40,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@left,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@2,menopause@premeno,inv-nodes@0-2>class@no-recurrence-events"\n', 'irradiat@yes>class@recurrence-events\n', '"menopause@ge40,breast@left,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', 'menopause@ge40>class@recurrence-events\n', '"menopause@ge40,node-caps@no>class@no-recurrence-events"\n', '"breast@right,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"breast-quad@left_low,deg-malig@2,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,deg-malig@2>class@no-recurrence-events"\n', '"deg-malig@2,breast@right,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"deg-malig@2,breast@right,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_low,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@premeno,inv-nodes@0-2>class@no-recurrence-events"\n', '"deg-malig@1,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', 'menopause@premeno>class@no-recurrence-events\n', '"breast-quad@left_low,menopause@ge40,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@1,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@1,breast@left,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_up,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '>class@recurrence-events\n', '"AGE@50-59,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_low,breast@left,irradiat@no>class@no-recurrence-events"\n', '"breast-quad@left_up,breast@right,irradiat@no>class@no-recurrence-events"\n', 'breast-quad@left_low>class@recurrence-events\n', '"deg-malig@1,inv-nodes@0-2>class@no-recurrence-events"\n', '"tumor-size@20-24,node-caps@no>class@no-recurrence-events"\n', 'deg-malig@1>class@no-recurrence-events\n', '"deg-malig@2,menopause@premeno,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"breast@right,inv-nodes@0-2>class@no-recurrence-events"\n', '"deg-malig@2,inv-nodes@0-2>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40,irradiat@no,node-caps@no>class@no-recurrence-events"\n', 'node-caps@no>class@recurrence-events\n', '"AGE@50-59,breast@right,irradiat@no>class@no-recurrence-events"\n', '"AGE@60-69,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@right,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"breast-quad@left_up,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@right,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@right,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@ge40>class@no-recurrence-events"\n', '"menopause@premeno,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', 'tumor-size@30-34>class@no-recurrence-events\n', '"deg-malig@1,breast@left>class@no-recurrence-events"\n', '"menopause@ge40,breast@left,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@1,breast@left,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"inv-nodes@0-2,irradiat@no,node-caps@no>class@recurrence-events"\n', '"breast-quad@left_up,breast@right,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@ge40,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"AGE@40-49,menopause@premeno,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', '"AGE@50-59,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@left,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40,node-caps@no>class@no-recurrence-events"\n', 'irradiat@yes>class@no-recurrence-events\n', '"AGE@40-49,deg-malig@2,menopause@premeno,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,breast@left,irradiat@no>class@no-recurrence-events"\n', '"AGE@40-49,menopause@premeno,irradiat@no>class@no-recurrence-events"\n', '"menopause@ge40,breast@right,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"breast@right,menopause@premeno,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', 'deg-malig@3>class@recurrence-events\n', '"deg-malig@2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,menopause@premeno,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@2,menopause@premeno,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,deg-malig@2,inv-nodes@0-2>class@no-recurrence-events"\n', '"deg-malig@1,menopause@ge40,inv-nodes@0-2>class@no-recurrence-events"\n', '"AGE@40-49,breast@right,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40>class@no-recurrence-events"\n', '"menopause@ge40,inv-nodes@0-2>class@no-recurrence-events"\n', '"deg-malig@2,breast@left,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,irradiat@no>class@no-recurrence-events"\n', '"breast@right,menopause@premeno,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@left,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,menopause@premeno,irradiat@no>class@no-recurrence-events"\n', 'irradiat@no>class@recurrence-events\n', '"inv-nodes@0-2,node-caps@no>class@recurrence-events"\n', '"breast-quad@left_low,breast@left,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"AGE@60-69,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@left,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast@right,menopause@premeno>class@no-recurrence-events"\n', '"menopause@premeno,breast@left>class@no-recurrence-events"\n', '"breast-quad@left_up,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,menopause@premeno,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', 'menopause@ge40>class@no-recurrence-events\n', '"deg-malig@2,breast@right,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@premeno,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@3,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@left,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_up,deg-malig@2>class@no-recurrence-events"\n', '"AGE@50-59,breast@right>class@no-recurrence-events"\n', 'node-caps@yes>class@recurrence-events\n', '"AGE@50-59,breast@left>class@no-recurrence-events"\n', '"deg-malig@3,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,deg-malig@2>class@no-recurrence-events"\n', '"breast@right,menopause@premeno,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@premeno,breast@left,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"AGE@60-69,menopause@ge40,inv-nodes@0-2>class@no-recurrence-events"\n', '"breast-quad@left_low,menopause@ge40,inv-nodes@0-2>class@no-recurrence-events"\n', '"AGE@40-49,breast@right>class@no-recurrence-events"\n', '"breast-quad@left_low,breast@left,inv-nodes@0-2,irradiat@no,node-caps@n>class@no-recurrence-events"\n', 'deg-malig@2>class@no-recurrence-events\n', '"breast-quad@left_up,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"menopause@premeno,breast@left,irradiat@no>class@no-recurrence-events"\n', '"menopause@premeno,node-caps@no>class@recurrence-events"\n', 'tumor-size@25-29>class@no-recurrence-events\n', '"AGE@60-69,inv-nodes@0-2,node-caps@no>class@no-recurrence-events"\n', '"tumor-size@25-29,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@premeno,irradiat@no>class@no-recurrence-events"\n', '"breast-quad@left_low,breast@left,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', 'AGE@50-59>class@no-recurrence-events\n', '"deg-malig@2,breast@right,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"breast-quad@left_low,node-caps@no>class@no-recurrence-events"\n', '"AGE@50-59,menopause@ge40,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"AGE@60-69,irradiat@no>class@no-recurrence-events"\n', 'AGE@60-69>class@no-recurrence-events\n', '"AGE@40-49,menopause@premeno>class@no-recurrence-events"\n', '"breast@right,inv-nodes@0-2,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"breast-quad@left_low,breast@left,inv-nodes@0-2>class@no-recurrence-events"\n', '"deg-malig@2,menopause@premeno,node-caps@no>class@no-recurrence-events"\n', '"menopause@ge40,inv-nodes@0-2,irradiat@no>class@no-recurrence-events"\n', '"deg-malig@1,breast@left,inv-nodes@0-2>class@no-recurrence-events"\n', '"menopause@premeno,inv-nodes@0-2>class@recurrence-events"\n', '"deg-malig@2,breast@right,menopause@premeno>class@no-recurrence-events"\n', '"AGE@40-49,menopause@premeno,irradiat@no,node-caps@no>class@no-recurrence-events"\n', '"deg-malig@2,breast@right,irradiat@no>class@no-recurrence-events"\n']

In [116]:
f = open(d+"cancer_rpp_rules_common.csv",'w')
for line in lst:
    f.write(line)
f.close()

In [117]:
df = pd.read_csv(d+"cancer_rpp_rules_common.csv")
df.to_csv("/content/drive/MyDrive/DataSets_for_Paper/cancer_rpp_out_rules.csv")