<a href="https://colab.research.google.com/github/BlackCurrantDS/DBSE_Project/blob/main/ECLAT_v1_2201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pyECLAT

Requirement already satisfied: pyECLAT in /usr/local/lib/python3.6/dist-packages (1.0.2)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from pyECLAT) (1.1.5)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.6/dist-packages (from pyECLAT) (1.19.5)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.6/dist-packages (from pyECLAT) (4.41.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->pyECLAT) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)

In [4]:
import pyECLAT
import pandas as pd
from pyECLAT import Example1, Example2
ex1 = Example1().get()
ex2 = Example2().get()

In [5]:
ex1

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [6]:
from pyECLAT import ECLAT

In [7]:
model1 = ECLAT(data=ex1,verbose=True)

100%|██████████| 7/7 [00:00<00:00, 339.72it/s]
100%|██████████| 7/7 [00:00<00:00, 18954.25it/s]
100%|██████████| 7/7 [00:00<00:00, 1211.98it/s]

In [8]:
model1.fit()

7it [00:00, 131.21it/s]
21it [00:00, 174.47it/s]
0it [00:00, ?it/s]

Combination 1 by 1
Combination 2 by 2
Combination 3 by 3

35it [00:00, 170.05it/s]

({'bean': [7, 8],
  'beer': [0, 4],
  'beer & bread': [0],
  'beer & bread & butter': [0],
  'beer & bread & milk': [0],
  'beer & butter': [0],
  'beer & milk': [0],
  'beer & milk & butter': [0],
  'bread': [0, 1, 2, 3, 6],
  'bread & butter': [0, 1, 2, 3],
  'bread & coffe': [1, 2, 3],
  'bread & coffe & butter': [1, 2, 3],
  'bread & coffe & milk': [3],
  'bread & milk': [0, 3],
  'bread & milk & butter': [0, 3],
  'butter': [0, 1, 2, 3, 5],
  'coffe': [1, 2, 3],
  'coffe & butter': [1, 2, 3],
  'coffe & milk': [3],
  'coffe & milk & butter': [3],
  'milk': [0, 3],
  'milk & butter': [0, 3],
  'rice': [8, 9],
  'rice & bean': [8]},
 {'bean': 0.2,
  'beer': 0.2,
  'beer & bread': 0.1,
  'beer & bread & butter': 0.1,
  'beer & bread & milk': 0.1,
  'beer & butter': 0.1,
  'beer & milk': 0.1,
  'beer & milk & butter': 0.1,
  'bread': 0.5,
  'bread & butter': 0.4,
  'bread & coffe': 0.3,
  'bread & coffe & butter': 0.3,
  'bread & coffe & milk': 0.1,
  'bread & milk': 0.2,
  'bread & milk & butter': 0.2,
  'butter': 0.5,
  'coffe': 0.3,
  'coffe & butter': 0.3,
  'coffe & milk': 0.1,
  'coffe & milk & butter': 0.1,
  'milk': 0.2,
  'milk & butter': 0.2,
  'rice': 0.2,
  'rice & bean': 0.1})

In [9]:
model1.fit_all()

({'beer & bread': [0],
  'beer & bread & butter': [0],
  'beer & bread & milk': [0],
  'beer & bread & milk & butter': [0],
  'beer & butter': [0],
  'beer & milk': [0],
  'beer & milk & butter': [0],
  'bread & butter': [0, 1, 2, 3],
  'bread & coffe': [1, 2, 3],
  'bread & coffe & butter': [1, 2, 3],
  'bread & coffe & milk': [3],
  'bread & coffe & milk & butter': [3],
  'bread & milk': [0, 3],
  'bread & milk & butter': [0, 3],
  'coffe & butter': [1, 2, 3],
  'coffe & milk': [3],
  'coffe & milk & butter': [3],
  'milk & butter': [0, 3],
  'rice & bean': [8]},
 {'beer & bread': 0.1,
  'beer & bread & butter': 0.1,
  'beer & bread & milk': 0.1,
  'beer & bread & milk & butter': 0.1,
  'beer & butter': 0.1,
  'beer & milk': 0.1,
  'beer & milk & butter': 0.1,
  'bread & butter': 0.4,
  'bread & coffe': 0.3,
  'bread & coffe & butter': 0.3,
  'bread & coffe & milk': 0.1,
  'bread & coffe & milk & butter': 0.1,
  'bread & milk': 0.2,
  'bread & milk & butter': 0.2,
  'coffe & butter': 0.3,
  'coffe & milk': 0.1,
  'coffe & milk & butter': 0.1,
  'milk & butter': 0.2,
  'rice & bean': 0.1})

In [10]:
fre_itemsets = model1.fit_all()

In [11]:
type(fre_itemsets)

tuple

In [12]:
len(ex1)

10

In [13]:
0.3*10

3.0

In [14]:
fre_itemsets[1]

{'beer & bread': 0.1,
 'beer & bread & butter': 0.1,
 'beer & bread & milk': 0.1,
 'beer & bread & milk & butter': 0.1,
 'beer & butter': 0.1,
 'beer & milk': 0.1,
 'beer & milk & butter': 0.1,
 'bread & butter': 0.4,
 'bread & coffe': 0.3,
 'bread & coffe & butter': 0.3,
 'bread & coffe & milk': 0.1,
 'bread & coffe & milk & butter': 0.1,
 'bread & milk': 0.2,
 'bread & milk & butter': 0.2,
 'coffe & butter': 0.3,
 'coffe & milk': 0.1,
 'coffe & milk & butter': 0.1,
 'milk & butter': 0.2,
 'rice & bean': 0.1}

In [15]:
type(fre_itemsets[1])

dict

In [16]:
# Multiply every value in my_dict by 2
for key in fre_itemsets[1]:    
    fre_itemsets[1][key] *=  len(ex1)

In [17]:
patterns = fre_itemsets[1]

In [18]:
patterns

{'beer & bread': 1.0,
 'beer & bread & butter': 1.0,
 'beer & bread & milk': 1.0,
 'beer & bread & milk & butter': 1.0,
 'beer & butter': 1.0,
 'beer & milk': 1.0,
 'beer & milk & butter': 1.0,
 'bread & butter': 4.0,
 'bread & coffe': 3.0,
 'bread & coffe & butter': 3.0,
 'bread & coffe & milk': 1.0,
 'bread & coffe & milk & butter': 1.0,
 'bread & milk': 2.0,
 'bread & milk & butter': 2.0,
 'coffe & butter': 3.0,
 'coffe & milk': 1.0,
 'coffe & milk & butter': 1.0,
 'milk & butter': 2.0,
 'rice & bean': 1.0}

In [19]:
with open('eclat_freqpatterns', 'w') as f:
  for key, value in patterns.items():
    #print(key)
    key = key.replace('&',',')
    key = key.replace("'","")
    key = key.replace(" ", "")
    value = int(value)
    #print(key)
    #print(value)
    print(key+":"+str(value),file=f)

In [20]:
patterns

{'beer & bread': 1.0,
 'beer & bread & butter': 1.0,
 'beer & bread & milk': 1.0,
 'beer & bread & milk & butter': 1.0,
 'beer & butter': 1.0,
 'beer & milk': 1.0,
 'beer & milk & butter': 1.0,
 'bread & butter': 4.0,
 'bread & coffe': 3.0,
 'bread & coffe & butter': 3.0,
 'bread & coffe & milk': 1.0,
 'bread & coffe & milk & butter': 1.0,
 'bread & milk': 2.0,
 'bread & milk & butter': 2.0,
 'coffe & butter': 3.0,
 'coffe & milk': 1.0,
 'coffe & milk & butter': 1.0,
 'milk & butter': 2.0,
 'rice & bean': 1.0}

In [21]:
d = pd.read_csv("/content/eclat_freqpatterns", sep=':', names=['itemsets','support'])

In [22]:
d['itemsets'] = d['itemsets'].astype(str).values.tolist()

In [23]:
d['itemsets'] = d.itemsets.apply(lambda x: x.split(','))

In [24]:
d

                        itemsets  support
0                  [beer, bread]        1
1                   [beer, milk]        1
2                 [beer, butter]        1
3                 [bread, coffe]        3
4                  [bread, milk]        2
5                [bread, butter]        4
6                  [coffe, milk]        1
7                [coffe, butter]        3
8                 [milk, butter]        2
9                   [rice, bean]        1
10           [beer, bread, milk]        1
11         [beer, bread, butter]        1
12          [beer, milk, butter]        1
13          [bread, coffe, milk]        1
14        [bread, coffe, butter]        3
15         [bread, milk, butter]        2
16         [coffe, milk, butter]        1
17   [beer, bread, milk, butter]        1
18  [bread, coffe, milk, butter]        1

In [25]:
#generate rules

In [26]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(d, support_only=True, min_threshold=0.1)
res

        antecedents             consequents  ...  leverage  conviction
0           (bread)                  (beer)  ...       NaN         NaN
1            (beer)                 (bread)  ...       NaN         NaN
2            (milk)                  (beer)  ...       NaN         NaN
3            (beer)                  (milk)  ...       NaN         NaN
4          (butter)                  (beer)  ...       NaN         NaN
..              ...                     ...  ...       ...         ...
85  (coffe, butter)           (bread, milk)  ...       NaN         NaN
86          (bread)   (milk, coffe, butter)  ...       NaN         NaN
87           (milk)  (bread, coffe, butter)  ...       NaN         NaN
88         (butter)    (bread, milk, coffe)  ...       NaN         NaN
89          (coffe)   (bread, milk, butter)  ...       NaN         NaN

[90 rows x 9 columns]

In [27]:
res = res[['antecedents', 'consequents', 'support']]

In [28]:
res

        antecedents             consequents  support
0           (bread)                  (beer)      1.0
1            (beer)                 (bread)      1.0
2            (milk)                  (beer)      1.0
3            (beer)                  (milk)      1.0
4          (butter)                  (beer)      1.0
..              ...                     ...      ...
85  (coffe, butter)           (bread, milk)      1.0
86          (bread)   (milk, coffe, butter)      1.0
87           (milk)  (bread, coffe, butter)      1.0
88         (butter)    (bread, milk, coffe)      1.0
89          (coffe)   (bread, milk, butter)      1.0

[90 rows x 3 columns]

In [29]:
res["antecedents"]=res["antecedents"].apply(lambda x: ', '.join(list(x))).astype("unicode")
res["consequents"]=res["consequents"].apply(lambda x: ', '.join(list(x))).astype("unicode")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
res['eclat_rules'] = res['antecedents']+'>'+res["consequents"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
res

      antecedents           consequents  support                eclat_rules
0           bread                  beer      1.0                 bread>beer
1            beer                 bread      1.0                 beer>bread
2            milk                  beer      1.0                  milk>beer
3            beer                  milk      1.0                  beer>milk
4          butter                  beer      1.0                butter>beer
..            ...                   ...      ...                        ...
85  coffe, butter           bread, milk      1.0  coffe, butter>bread, milk
86          bread   milk, coffe, butter      1.0  bread>milk, coffe, butter
87           milk  bread, coffe, butter      1.0  milk>bread, coffe, butter
88         butter    bread, milk, coffe      1.0  butter>bread, milk, coffe
89          coffe   bread, milk, butter      1.0  coffe>bread, milk, butter

[90 rows x 4 columns]

In [32]:
import pandas as pd
dataframe = pd.read_csv('/content/breast_train_transactions.txt', header = None, sep=",")

In [33]:
dataframe.head()

          0         1           2  ...         7             8      9
0  class@no  a1@30-39  a2@premeno  ...   a7@left   a8@left_low  a9@no
1  class@no  a1@40-49  a2@premeno  ...  a7@right   a8@right_up  a9@no
2  class@no  a1@40-49  a2@premeno  ...   a7@left   a8@left_low  a9@no
3  class@no  a1@60-69     a2@ge40  ...  a7@right    a8@left_up  a9@no
4  class@no  a1@40-49  a2@premeno  ...  a7@right  a8@right_low  a9@no

[5 rows x 10 columns]

In [34]:
model2= ECLAT(data=dataframe,verbose=True)

100%|██████████| 44/44 [00:00<00:00, 233.55it/s]
100%|██████████| 44/44 [00:00<00:00, 11723.38it/s]
100%|██████████| 44/44 [00:00<00:00, 1957.15it/s]

In [ ]:
fre_itemsets = model2.fit( min_support=0.01,max_combination=9)

7it [00:00, 68.40it/s]

Combination 1 by 1

41it [00:00, 77.33it/s]
9it [00:00, 88.17it/s]

Combination 2 by 2

820it [00:08, 96.86it/s]
19it [00:00, 91.48it/s]

Combination 3 by 3

10660it [01:34, 112.64it/s]
9it [00:00, 83.18it/s]

Combination 4 by 4

101270it [14:10, 119.13it/s]
12it [00:00, 112.59it/s]

Combination 5 by 5

749398it [1:46:11, 117.62it/s]
12it [00:00, 114.85it/s]

Combination 6 by 6

135303it [20:03, 115.58it/s]

Buffered data was truncated after reaching the output size limit.

In [53]:

for key in fre_itemsets[1]:    
    fre_itemsets[1][key] *=  len(dataframe)

In [54]:
patterns = fre_itemsets[1]

In [55]:
with open('eclat_freqpatterns', 'w') as f:
  for key, value in patterns.items():
    #print(key)
    key = key.replace('&',',')
    key = key.replace("'","")
    key = key.replace(" ", "")
    value = int(value)
    #print(key)
    #print(value)
    print(key+":"+str(value),file=f)

In [56]:
d = pd.read_csv("/content/eclat_freqpatterns", sep=':', names=['itemsets','support'])

In [57]:
d['itemsets'] = d['itemsets'].astype(str).values.tolist()

In [58]:
d['itemsets'] = d.itemsets.apply(lambda x: x.split(','))

In [59]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(d, support_only=True, min_threshold=0.1)
res

              antecedents          consequents  ...  leverage  conviction
0              (a3@15-19)             (a4@0-2)  ...       NaN         NaN
1                (a4@0-2)           (a3@15-19)  ...       NaN         NaN
2              (a3@15-19)              (a9@no)  ...       NaN         NaN
3                 (a9@no)           (a3@15-19)  ...       NaN         NaN
4              (a3@15-19)              (a5@no)  ...       NaN         NaN
...                   ...                  ...  ...       ...         ...
2269      (a6@1, a7@left)           (class@no)  ...       NaN         NaN
2270  (class@no, a7@left)               (a6@1)  ...       NaN         NaN
2271               (a6@1)  (class@no, a7@left)  ...       NaN         NaN
2272           (class@no)      (a6@1, a7@left)  ...       NaN         NaN
2273            (a7@left)     (a6@1, class@no)  ...       NaN         NaN

[2274 rows x 9 columns]

In [60]:
res = res[['antecedents', 'consequents', 'support']]

In [61]:
res["antecedents"]=res["antecedents"].apply(lambda x: ', '.join(list(x))).astype("unicode")
res["consequents"]=res["consequents"].apply(lambda x: ', '.join(list(x))).astype("unicode")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
res['eclat_rules'] = res['antecedents']+'>'+res["consequents"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
res

            antecedents        consequents  support             eclat_rules
0              a3@15-19             a4@0-2     23.0         a3@15-19>a4@0-2
1                a4@0-2           a3@15-19     23.0         a4@0-2>a3@15-19
2              a3@15-19              a9@no     21.0          a3@15-19>a9@no
3                 a9@no           a3@15-19     21.0          a9@no>a3@15-19
4              a3@15-19              a5@no     22.0          a3@15-19>a5@no
...                 ...                ...      ...                     ...
2269      a6@1, a7@left           class@no     24.0  a6@1, a7@left>class@no
2270  class@no, a7@left               a6@1     24.0  class@no, a7@left>a6@1
2271               a6@1  class@no, a7@left     24.0  a6@1>class@no, a7@left
2272           class@no      a6@1, a7@left     24.0  class@no>a6@1, a7@left
2273            a7@left     a6@1, class@no     24.0  a7@left>a6@1, class@no

[2274 rows x 4 columns]